<% wrap_layout :layout do %>
<!-- BREADCRUMBS -->
<section class="full_width breadcrumbs_block clearfix">
	<div class="breadcrumbs_content">
		<h2 class="pull-left">Latest Blog Post</h2>
		<ol class="pull-right breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li><a href="blog.html">Blog</a></li>
			<li><a href="javascript:void(0);">Energize Your Leadership in a Hybrid Way</a></li>
		</ol>
	</div>
	<div class="overlay"></div>
	<div class="overlay_black"></div>
</section>

<!-- //BREADCRUMBS -->
		  
  <%= yield %>
<% end %>
