---
title: Creating a Stronger Leadership Story
date: 2015-9-23 05:00 EST
tags:
- leadership
- storytellers


quote: Mine was a story without a plot.

author: Ted Berrigan
---

<p>Ted Berrigan was a 20th century poet who died at a relatively young age, but left us with this haunting line … “mine was a story without a plot.”</p>

<p>We're all in the process of creating our own leadership stories, stories full of accomplishments and shortcomings, action-packed with crises and controversies, and laden with episodes of people we've loved and despised in our work life.</p>

<p>If you don’t like the way your story is shaping up, there are even books to read and workshops to take to sharpen and strengthen your "leadership story."</p>

<p>But, here's the essential question that Ted Berrigan raises: "Is yours a leadership story without a plot?"</p>

<p>Is it a story told in a frenetic cadence about raising the bar, making your numbers, transformational change and getting out of your own way? Or is it story with a deeper meaning and clearer focus?</p>

<p>When I reflect on my own leadership story, and the stories of many of the leaders I know, I find the chapters of greatest leadership strength and impact come at those times of greatest leadership clarity.</p>

<p>Clarity provides the foundation for our leadership story. Specifically, I suggest three leadership clarity challenges to consider:</p>


<ul>
<li>-Is my leadership purpose clear to myself and to those I lead?</li><br>
<li>-Are my daily leadership practices clearly defined and aligned with that purpose?</li><br>
<li>-Are the benchmarks for my leadership performance clear and my progress substantial?</li><br>
</ul>

<p>How would you score yourself on a scale of 1 to 10 for each of these challenges, with 10 being the highest? What could you do tomorrow to move up just one point on each scale? Doing so will help you make sure that yours is not a story that wanders to and fro, but one with a solid plot of which you and your team can be proud.</p>

<p>Speaking of your team, you can have your team work through this same exercise. What’s their story?</p>