---
title: Stop Communicating Too Little!
date: 2015-12-02 05:00 EST
tags:
- George Bernard Shaw
- leadership
- communication


quote: The single biggest problem in communication is the illusion that it has taken place.

author: George Bernard Shaw
---

<p>A good friend once told me: “I’m just too damn busy to communicate.” I often wonder if we get caught in that trap and suffer the consequences.</p>

<p>Sometime ago our small consulting firm was asked to help improve communication at a struggling nuclear plant in the Northeast. We already had a well-established reputation working with electric utilities and accepted this assignment with confidence. However, this assignment left us with an insight that lasted a lifetime.</p>

<p>One of our first steps was to interview groups of employees across a variety of plant operations. We inquired about what was working well? What could be improved? What were the greatest communication assets, and what were the biggest roadblocks? Across the plant the responses were generally the same. Even with all the emails, intranet articles and break room posters, the greatest assets by far were the plant’s managers and leaders. They were trusted. They were respected and considered to be good communicators. The roadblocks were equally as clear: “We just don’t see them enough, or hear from them enough. They’re just so busy we’re sometimes left in the dark.” In many cases plant employees were doing their best. They just lacked current information and clear direction. They were suffering from a communication deficit.</p>

<p>About the same time, I came across a report that poor communication, or miscommunication, across U.S. manufacturing operations resulted in a 10% to 15% loss of productivity due to employee downtime and rework. I began to wonder how much plant productivity, morale and engagement could be improved if leaders and managers could spend just a little more time in focused and intentional communication?</p>

<p>Since that nuclear plant experience, I’ve spent years asking leaders and employees across a variety of sectors about the costs of poor communication and missed communication. Most of the responses are that a productivity loss of 10% to 15% is just too low. I agree, especially when managers and leaders are trying to introduce a set of changes.</p>

<p>So does the best-selling author and change management guru John Kotter. In a June 14, 2011 post on Forbes.com, Kotter claims that during change initiatives less than 1 percent of all the communication employees receive focuses specifically on the changes being advocated. Again, it’s too little focused and intentional communication. In addition to increasing the volume of change-related communication, Kotter provides these five tips:</p>

<p>
 <ul>
 	<li>-Keep your messages simple and jargon-free</li>
 	<li>-Use metaphors and analogies to paint a vivid picture.</li>
 	<li>-Repeat, repeat, repeat--ideas only sink in after they heard many times.</li>
 	<li>-Recognize and explain inconsistencies--if you don't, it undermines credibility</li>
 	<li>-Allow for constant feedback.</li>
 </ul>
</p> 