---
title: Are You a Champ or a Chump?
date: 2015-06-17 05:00 EST
tags:
- Woody Allen
- leadership
- teamwork

quote: Eighty percent of success is showing up.

author: Woody Allen
---

<p>Woody Allen, one of the famous writers and actors of our time, was right!</p>

<p>As a leader, eighty percent of success is showing up. But, here’s the question. Showing up for whom and for what purpose. My quick answer for leaders is simple. It’s showing up for your team in a positive way that helps them be fabulously successful.</p>

<p>It’s definitely not showing up for yourself, for your ego, or for your personal sense of accomplishment. Ego-centric leadership is a short and dusty road to travel.</p>

<p>Additionally, success is not just showing up for your team the way you want to, but showing up for your team the way the team needs you to show up. There’s a big difference.</p>

<p>Ken Blanchard, the noted author and management consultant, has helped thousands of leaders understand that teams in different stages of development need different sets of leadership actions to be successful. His workshops, articles and books on ‘situational leadership” are essential for leaders navigating these stages of team development. If you’re struggling with getting the right fit of leadership style with team performance, I highly recommend Ken’s work.</p>

<p>Here’s a simple exercise that can help you determine if you are showing up in the right way for your team. Asking someone that is not on your team, such as a human resources partner or an outside facilitator, can help you gain open and candid responses.</p>

<p>Ask your team to help you better understand how you “show up” as their leader. First, ask them to list your everyday behaviors that best describe how they experience you as their leader--how you show up in their day-to-day lives. Then, ask them to list the behaviors they would like to see that would allow the team to be even more successful. That’s how they’d like for you to show up in the best possible way. Compare the two lists and brainstorm with your team ways to close the gap between the two lists.</p>

<p>Emily Pronin, a social psychologist from Princeton University, writes extensively about how our biases and blind spots affect the way we see ourselves and others. We may think we are a champ, when others think we’re a chump. The fact is it’s hard to see ourselves when we are in the picture. We all need help in stepping away and discovering our own blind spots. </p>

<p>Listening to your team can help you “show up” as a true team leader. For me, leadership is a gift granted by those who trust you, who depend on you to trust them, and count on your actions to keep that trust alive.</p>

