---
title: The Inherent Contradictions in Leadership
date: 2015-10-21 05:00 EST
tags:
- Buddha
- leadership
- leadership development


quote: No one saves us but ourselves. No one can and no one may. We ourselves must walk the path.

author: Buddha
---

<p>Like all other forms of human behavior, leadership is full of inherent contradictions. Key among them is the tension between strength and vulnerability, between certainty and doubt. The path of leadership is walked between the two.</p>

<p>When we let one view overshadow the other, we find ourselves out of balance and risk becoming  disillusioned. We can think of ourselves as so strong we can't make any mistakes. A path leading to disaster. Or think of ourselves as so weak we can’t make decisions on our own or do anything right.  A path that leads to impotence.</p>

<p>Wisdom is found in the balance, in discovering how to remain open, curious, aware and engaged in resolving the inherent contradictions in life and in leadership. When we’re healthy and whole, contradictions can lead to clarity. They can guide us to finding the truth that resides between hope and despair, between the familiar and strange, the secure and uncertain.</p>

<p>What are the contradictions you see in your leadership? How are they trapping you? What are some creative, alternative paths forward that can bring you to life as a complete and integrated leader? How can they illuminate the path to being your best? I can offer these questions, my friends, but Buddha knows that only you can provide the answers.</p>

<p>Enjoy the journey.</p>