---
title: Leadership Comes First. Products Come Second.
date: 2015-8-12 05:00 EST
tags:
- leadership
- teamwork
- Robert Kiyosaki

quote: Most businesses think that product is the most important thing, but without great leadership, mission and a team that delivers results at a high level, even the best product won't make a company successful.

author: Robert Kiyosaki
---

<p>Great products and service are essential for any organization’s success, but so is great leadership.</p>

<p>There’s little doubt that Apple, Inc. is the king of product. Sure, the iWatch has stumbled to meet expectations, but the iPhone rolls on. The first generation iPhone was released with great fanfare on June 29, 2007. Some say its launch revolutionized the smartphone industry. With as much gusto, Apple released the iPhone 6 and iPhone 6 Plus on September 9, 2014. Recent reports suggest sales of the iPhone 6 will reach almost 70 million units a quarter in 2015.</p>

<p>Robert Kiyosaki, businessman and author of the <i>Rich Dad Poor Dad</i> series, reminds us that year-over-year it’s not the product that sorts out the winners from the losers, it’s leadership, mission and team performance that makes the difference. And, you can see all three at work at Apple, Inc. today under the leadership of Tim Cook. For example, listen to what Tim Cook said about the importance of teams during an interview with Bill Boulding at Duke University’s Fuqua Business School:</p>

<p><i><center>"You look for wicked smart people. You look for people who appreciate different points of view. People who care enough that they have an idea at 11 at night and they want to call and talk to you about it. Because they're so excited about it, they want to push the idea further. And that they believe that somebody can help them push the idea another step instead of them doing everything themselves."
</p></i></center>
  
<p>I consistently emphasize in these posts that effective leadership contains three components--leading yourself, leading your team and leading your organization, with leading your team right in the center. Your leadership and mission come to life through your team’s performance. You are not successful, and your organization is not successful, without a successful team.</p>
  
<p>So, how do you ensure team success? Patrick Lencioni has a great set of recommendations that can be found in his bestselling book, <i>The Five Dysfunctions of a Team</i> (NY: Jossey Bass, 2002). Lencioni reminds us to pay close attention to common areas of team dysfunction:</p>

<p><ul>
<li>-absence of trust</li>
<li>-fear of conflict</li>
<li>-lack of commitment</li>
<li>-avoidance of accountability</li>
<li>-inattention to results</li>
</ul></p>

  
<p>To help leaders address those dysfunctions, Lencioni provides a questionnaire they can use to evaluate their team’s performance and guidance to help them better overcome specific trouble spots. So, grab your iPhone and download a copy of <i>Five Dysfunctions</i>. You’re off to a great start.</p>