---
title: How To Be The Leader You Need To Be
date: 2015-05-13 05:00 EST
tags:
- Max DePree
- leadership
- reflective practice

quote: In the end, it is important to remember that we cannot become what we need to be, by remaining what we are.

author: Max DePree
---

<p>As leaders, we are surrounded by constant change, elevated expectations, and pressures to do more. We realize we can’t stand still.</p>
<p>Additionally, as we gain deeper insights into our own leadership aspirations and limits, we uncover even more reasons to leave behind old leadership habits and adopt new ones. That's what makes Max DePree's advice so relevant for today.</p>
<p>As the CEO of Herman Miller furniture makers, he saw first hand the need for a new approach to leadership in an era of global competition and changing worker expectations. DePree was one of the first CEO’s to articulate the principles of reflective leadership in his two books: <i>Leadership is an Art</i> (1983) and <i>Leadership Jazz</i> (1997). I recommend both.</p>
<p>Lately, I've been in rich conversations with colleagues and clients about how the daily practice of leadership involves becoming aware of the gaps between who we are today as leaders and who we need to become. We've been experimenting with a simple exercise that you might find meaningful. It involves three of the most powerful words in reflective leadership--awareness, intention, and action. If you're willing, here's what to do.</p>
<p>Take out a sheet of paper and draw a line down the middle about halfway to the bottom of the page. You'll need the bottom of the page for some notes.</p>
<p>On the left side of the line, list five or six leadership characteristics that describe who you are today as a leader.  These would be the behaviors and attitudes that show up regularly in your day-to-day work as a leader. For an additional perspective, you can also ask a small group of people who know you well to do the same by listing the characteristics that describe you as a leader.</p>
<p>Next, on the right side of the paper, list five or six leadership characteristics that describe the leader you need to be in the future. If you've asked a small group to take the first step with you, ask them to complete the second step, as well.</p>
<p>Now, compare the "as you are" and "as you need to be" lists. On the bottom of the page, jot down any insights that come to mind and identify just one leadership characteristic from the "need to be" list that is a priority for you to develop and practice during the next 30 days.</p>
<p>Why just one? One is enough to focus on, experiment with, and refine during a 30 day period. Here's a tip. Start by looking at your calendar and identifying specific opportunities you will have to practice your "need to be" behavior during the next four weeks. Commit to following through with those opportunities and notice your thoughts and emotions as you try something new. Let people know what you are working on and ask for their feedback.</p>
<p>If things are going well, keep it up. You might even take a look at the second item on your “need to be” list and keep on growing. Remember, we can all be better leaders tomorrow than we are today.</p>
<p>If you'd like some help working through this exercise, or would like to use it with your leadership team, just let me know.</p>