---
title: The Importance of Leading Yourself
date: 2015-03-25 07:30 EST
tags:
- Thomas J. Watson, Sr.
- leadership
- leadership within

quote: Nothing so conclusively proves a man's ability to lead others as what he does from day to day to lead himself.
author: Thomas J. Watson, Sr.
---

<p>Thomas J. Watson, Sr. knew a thing or two about leadership. He served as Chairman and CEO of International Business Machines (IBM) from 1914 through 1956 and established IBM as one of the most respected brands across the globe. And for Watson, leading others began with leading yourself. This means more than managing yourself, it means leading yourself. It means more than getting through the day, with all those emails and conference calls. It means shaping the day through a purposeful vision and mindful actions.</p>

<p>I was talking with a fellow leadership coach recently who was telling me a story about a promising leader, with all the right intentions, who would allow himself to get “hijacked” when he felt his authority threatened. He would lose control of himself, turn defensive and turn off his colleagues and team members.  Thomas Watson, Sr. knew well that to lead your organization, and lead your team, you first need to learn to lead yourself.</p>

<p>Leading yourself is no easy task in today’s hectic, multitasking, chaotic world. If you feel like you are living and working in "crazy town," and need to gain control, I highly recommend Scott Eblin's new book <i>Overworked and Overwhelmed: the Mindfulness Alternative</i> (Hoboken, NJ: John Wiley & Sons, 2014). Through interviews with a variety of leaders and with a deep understanding of the challenges they face, Scott offers practical paths to a more self-aware and mindful approach to the day-to-day difficulties of leadership. And, if you’d like some help along these lines, just let me know.</p>

<p>Question: What do you think about this quote? Have you seen the power of purposeful leadership in practice? Do you have a story you’d like to share? I’d love to hear it. And, if you are interested, I’ve got a great book recommendation on this subject, Just let me know.</p>