---
title: Hitting a Leadership Grand Slam Every Day
date: 2015-11-04 05:00 EST
tags:
- Roger Maris
- leadership
- leadership development


quote: You hit home runs not by chance but by preparation.

author: Roger Maris
---

<p>I’m writing this post the day after the Kansas City Royals won the 2015 World Series.</p>

<p>I’m not a big baseball fan, but all the media attention this morning has me thinking about baseball and baseball metaphors. I’m particularly captivated by the “Grand Slam,” where all the bases are loaded and then a batter hits one so mightily over the fence that it drives all the runners home and all the fans to their feet.</p>

<p>So, how does this apply to us mere mortals struggling to get our work done and arrive home before the kids go to bed? I think it can provide a clever way to think about our daily work as leaders. I’ve been practicing a daily routine lately that I’ve named my Grand Slam routine. It helps me stay focused and on top of what needs to get done.</p>

<p>Here’s how it works. Give it a try.</p>

<p>Each morning, review your to-do list and identify three “singles” to get done and one “home run” for the day. That’s how you load the bases and then hit one out of the park.</p>

<p>A single for the day is an item on your list that you can accomplish easily within five to ten  minutes, maybe even sooner. It doesn't require an hour-long meeting, budget approval or consensus among your peers. It’s simply something that needs to get done quickly and easily. Get three singles accomplished first thing in the morning and you can feel your sense of accomplishment and momentum build.</p>

<p>Then it’s time for a Grand Slam. A home run for the day is an item significantly important to your success. It’s your leadership brand-building opportunity for the day. Maybe it’s a tough decision you have to make or a difficult discussion that needs to take place. Maybe it’s a proposal you need to complete or a presentation to the board. Block out the time you need on your calendar to get it done. Cancel something if you have to. Move something if you have to. No procrastination. No excuses. Just get it done. Hit that home run for the day, and if you’ve loaded the bases first that makes it a Grand Slam!</p>

<p>While baseball season is now officially over, it’s still not too late to get into the Grand Slam routine. Practice it for 21 days and it’ll become a habit. Remember what an all-time home run hitter Roger Maris said: “You hit home runs not by chance but by preparation.” To be a Grand Slam player you need both preparation and repetition.</p>

<p>Batter up!</p>