---
title: How Do You Look Riding Your Leadership Horse?
date: 2015-04-08 05:30 EST
tags:
- Adlai E. Stevenson, II
- leadership
- self awareness

quote: It's hard to lead a cavalry charge if you think you look funny on a horse.

author: Adlai E. Stevenson, II
---

<p>Adlai Stevenson, former Governor of Illinois, three-time Presidential candidate and long-time U.S Ambassador to the United Nations, knew a thing or two about campaigns, the power of eloquent words, and judging how leaders look when leading a charge.</p>

<p>How do you think you look on your “leadership horse?” Do you see yourself as clear, calm, and confident in the saddle? Are you riding too aloof to engage the troops? Or are you too “hands on” with your commands leaving your lieutenants with little work to do?</p>

<p>Two of the most powerful questions leaders can ask themselves include:</p>
<ol>
<li>1) How do I want to be seen as a leader? Make a list of the five or six attributes most important to you.</li> 
<li>2) How do I fear being seen as a leader? Make a list of five or six attributes you want to avoid.</li>
</ol>
<p>This is a simple exercise that can deepen and sharpen your leadership self-awareness. Next, compare the two lists and take 20 to 30 minutes to determine what you can do in the days and weeks ahead to bring out your best and diminish your fears.</p>

<p>Try this for the next 30 days, and let me know how it works. I’ll do the same. Together, we can both look a bit better riding our leadership horse. And, remember we all can be better leaders tomorrow than we are today.</p>