---
title: Leadership is Lonely, But You Are Never Alone
date: 2015-06-03 05:00 EST
tags:
- Albert Schweitzer
- leadership
- teamwork

quote: The true worth of man is not to be found in man himself, but in the colors and texture that come alive in others.

author: Albert Schweitzer
---

<p>Let’s face it.  Leadership is often a lonely task, but the work of leaders is never done alone.</p>

<p>Leaders don’t exist in isolation, but in relationship with others. Our actions, and our worth as
leaders, can not be judged as if we were a solo act.</p>

<p>If you start with the question: “How am I doing as a leader?” You are missing an important perspective. A better question might be: “How is my team doing with me as its leader?”</p>

<p>This second question recognizes the fundamental relationship inherent in leadership itself. Leadership performance can not be separated from team performance.</p>

<p>What does your team need to be successful? What do you need as its leader? If your team needs to be more engaged, you may need to be more engaging. If they need to be more strategic, you may need to be more strategic. If they need to be more focused, you may need to be more focused, too.</p>

<p>In the quote above, Albert Schweitzer framed the leadership cause and effect relationship more poetically. He asked us to consider the colors and textures we cause to arise in others. Put another way, what are the lasting impressions we generate in our work as leaders? Are they wholesome, affirming and empowering for others, or are they found on the opposite end of the emotional spectrum?</p>

<p>Albert Schweitzer was a philosopher, physician and medical missionary who led bravely in the world of ideas and in the world of the heart. He knew the work of leaders was judged ultimately on the positive value it brought to the human condition. Most of us don’t live on such an exalted level, but we may have something to learn from it.</p>

<p>The impact we have on others as leaders is within our control. If you are interested in creating a more positive leadership impact, I have a coaching exercise called “Closing the Circles” I would love to share. Just give me a call or send me an email.</p>