---
title: What does Thomas Jefferson have to say about the attitudes of great leaders?
date: 2015-01-07 15:33 EST
tags:
- Thomas Jefferson
- leadership
- emotional intelligence
- attitude
---

<blockquote>
Nothing can stop the man with the right mental attitude from achieving his goal; nothing on earth can help the man with the wrong mental attitude.
</blockquote>
<cite>Thomas Jefferson</cite>

<p>Thomas Jefferson knew attitudes are infectious and effective leaders learn how to control their emotions in order to get the results they want. I once worked with a manufacturing leader who could only keep himself up by putting others down. Before too long, he sank like a stone, negative attitudes and all.</p>

<p>How often have you seen leaders whose shortcomings come from poor attitudes or negative emotions? They could be toward their teams, their customers, their organizations or toward themselves. And the opposite is true as well. How many times have you seen a leader generate great results by consistently maintaining the right mental attitude, even in difficult situations?</p>

<p>Question: Is there a story about leadership attitudes you’d like to share? I’d love to hear about it. And, if you’re interested, I’ve got a great book recommendation on this subject. Just let me know.</p>

<p>Leaders live busy lives. These quotes and reflections are meant to provide a quick break from their daily deadlines to reflect on the purpose and practice of leadership.</p>

