---
title: Recycle or Toss Your Old Leadership Habits
date: 2015-11-18 05:00 EST
tags:
- Aristotle
- leadership
- leadership development


quote: We are what we repeatedly do. Excellence, then, is not an act, but a habit.

author: Aristotle
---

<p>Tuesdays are trash and recycling days in my neighborhood. Each week I drive by a row of large dark gray and bright green cans lining the roadway. This week, they brought with them a particular insight. </p>

<p>As leaders, we’ve accumulated a set of habits and routines that have served us well. They’ve paved the path to our success, but here’s the trick.</p>

<p>In a world that’s transforming across so many dimensions, some of those habits and routines may be out of date. It’s possible they are now doing more harm than good and should be tied up and tossed in the trash. Others might need to be revamped, touched up, recycled and put to good use.</p>

<p>For example, in her new book, <i>Year of Yes</i> (NY: Simon and Schuster. 2015), Shonda Rimes shares her story about turning off her email and phone every day after seven o'clock and on the weekends. Getting more than 2,500 emails a day, she was caught spinning on the 24 hour-a-day hamster wheel of emails and phone tag. Keep in mind that Rimes has multiple writing and executive roles in producing <i>Grey’s Anatomy</i>, <i>Scandal</i> and <i>How to Get Away With Murder</i>--all broadcast on a single night on ABC. If she can turn off that old habit, and throw it on the trash heap, so can you. </p>

<p>Recycling a familiar routine is another alternative. I'm working with a leader seeking to keep her leadership team more tightly focused on a set of strategic priorities. Her routine of weekly leadership meetings was growing stale and seemed disconnected from her strategic priorities. She stepped back, kept the weekly meetings but refined the agenda items to align with her priorities to shape the flow and content of their time together. It’s still early, but she reports great success in recycling and improving an existing routine.</p>

<p>The effectiveness of our habits and routines as leaders is receiving considerable attention. A great example is Scott Eblin’s new book <i>Overworked and Overwhelmed: The Mindfulness Alternative</i> (Hoboken, NJ:  Wiley. 2014).  It can help you sort through what’s helping you be your best and what’s not. I look forward to completing Scott’s coach training program in January and offering workshops in this area next year.</p>