---
title: How you can avoid leadership drift
date: 2015-01-07 15:50 EST
tags:
- Steve Jobs
- leadership
- passion
- focus
quote: You have to be burning with an idea, or a problem, or a wrong that you want to right. If you're not passionate enough from the start, you'll never stick it out.
author: Steve Jobs
---

<p>Let's face it, Steve Jobs was right. Leadership is tough. Some days just suck and you ask yourself: "Do I really have to make another sales call? Take another two hour conference call? Prepare another deck for the board meeting?</p>

<p>The answer comes down to this. What is my "burning idea?" What "wrong am I trying to set right?" What purpose am I trying to serve? </p>

<p>Answering those questions is the true job of leadership. Without those answers, your leadership can drift and fade into mere routines. I’ve seen it happen, and I’ve felt it happen to me.</p>

<p>Question: What do you think about this quote? Have you seen the power of purposeful leadership in practice? Do you have a story you’d like to share? I’d love to hear it. And, if you are interested, I’ve got a great book recommendation on this subject, Just let me know.</p>

<p>Leaders live busy lives. These quotes and reflections are meant to provide a quick break from their daily deadlines to reflect on the purpose and practice of leadership.</p>