---
title: Three Extraordinary Leaders and the Cocktail Party
date: 2015-9-09 05:00 EST
tags:
- leadership
- teamwork


quote: See no evil. Hear no evil. Speak no evil.

author: Centuries old folk saying
---

<p>I had the great fortune of spending a long weekend recently with three incredible leaders who have contributed so much to so many people in their own countries and across the globe.</p>

<p>They are signaling the ancient folk saying: See no evil, Hear no evil. Speak no evil. It’s a message whose roots run deep across time and cultures. It's rough translation during the time of Confucius would be: “See what’s proper. Hear what’s proper. Speak what’s proper.”</p>

<p>In other words, focus your attention and actions on what’s proper and to the benefit of all. Hearing this today, leaders and coaches who follow the principles of positive psychology would stand up  and applaud. Indeed, there is abundant evidence that establishing and sustaining a positive leadership environment produces remarkable results.</p>

<p>But, as my friend Chris Wahl reminds us, leadership is frequently clothed in contradictions and complications. This one is, as well. Consider a well-known psychological principle that provides another perspective. It’s called the Cocktail Party Effect.</p>

<p>People at cocktail parties demonstrate the ability to screen out a broad range of sights and sounds in order to pay attention to a particular person or to a significant visual clue in their environment. Cocktail party or not, our everyday experiences are bombarded with millions of sensory events--more than we could ever effectively process.</p>

<p>In order to maintain cohesion in our lives, we all operate with a series of “screens” that filter out what has come to be judged as insignificant. These screens are constructed through our individual and shared cultural experiences to maintain our overall mental health.</p>

<p>Herein, lies a potential contradiction for our work as leaders. With our screens fully intact, we are inevitably working in the shadows of our blind spots. We screen things out every minute of every day, across every interaction we have with others.</p>

<p>My own hypothesis is that because leaders are responsible for maintaining a broad sense of vision as well as a deep understanding of their business, their screens have to be  proportionately broader and deeper. Thus their blind spots might be even larger than others, just to keep their mental health in balance. Moreover, when leaders experience significant change, they may carry with them blind spots that once provided balance and health into a new role where those spots are no longer helpful.</p>

<p>Certainly, we need to see, hear and say what’s proper and positive as leaders in order to build a positive and productive work environment. We also need to be mindful about what we might be missing.</p>

<p>In order to compensate for the Cocktail Party Effect, we could all benefit from conducting a regular Blind Spot Review. Here are some sample questions we could ask ourselves and the teams we lead:</p>


<ul>
<li>-What am I not seeing that I should see? Together, what could we be missing? What process can we use to open our lenses and let more insight in?</li><br>
<li>-What am I not hearing that I should be hearing? What voices are we missing as a team? Are there important messages out there that are just not getting through our partially blocked ears? How can we open them up more?</li><br>
<li>-What am I not saying that I should say? Because of my partial  blindness and partial deafness, what am failing to say to myself, my team, my organization, my customers?</li><br>
<li>-What changes are taking place that bring with them a new set of blind spots because of previous screens that may no longer be appropriate or healthy?</li><br>
</ul>

<p>Let me know what you think of the Blind Spot Review idea. You may have some additional questions you’d like to add. If you give it a try, I’d love to hear how it goes. A regular Blind Spot Review can help you and your team stay positive while being fully mindful of the Cocktail Party Effect.</p>