---
title: Keep the Leadership Monkeys Off Your Back
date: 2015-07-16 05:00 EST
tags:
- leadership
- teamwork

quote: Not my circus. Not my monkeys.


author: Polish saying
---

<p>One of the toughest jobs for leaders and their teams is to stay focused. I was reminded of this hard fact when a good friend visiting from Canada shared the above bit of folk wisdom with us that she had picked up from her sister.</p>

<p>I was reminded of the many leaders I know who seem overwhelmed with all the monkeys on their back that rightfully belong to someone else. Of course, I’m also aware that we as leaders often create our own unwanted monkeys. For example, I remember leading a senior team at a leading financial services firm when the team confronted me with a request: "Will you wait until next year before coming up with one more new idea. We need to stay focused."</p>

<p>As leaders we’re sometimes too eager to "solve the problem" by taking on responsibilities that should remain with someone on our team. We forget that when we take on their monkeys, they won’t learn to run their own circus. Of course we need to help our teams, nurture our teams, and redirect their efforts when necessary. But, the next time you feel unnecessary distractions tugging at your sleeve ask yourself: "Is that my circus? Are those my monkeys?" Answering those questions honestly might help you draw boundaries that both protect and motivate the teams you lead.</p>

<p>I first encountered “monkey” wisdom several years ago by reading Ken Blanchard, et al, <i>The One Minute Manager Meets The Monkey</i>. In his own illustrative way, Ken shows how leaders can work with their teams to keep the monkeys where they belong and protect the time leaders need for reflection, development and a balanced life.</p>

<p>If you feel like you're living in Monkey Town, get Ken's book and read it. Also, in my next post I'll offer five micro-strategies to help you and your team stay focused on the right stuff.</p>