---
title: Here's How To Keep Those Leadership Monkeys Off Your Back
date: 2015-07-29 05:00 EST
tags:
- leadership
- teamwork
- Steve Jobs

quote: Focusing is about saying no.


author: Steve Jobs
---

<p>In my last post I wrote about keeping the leadership monkeys off your back and promised to offer five micro-strategies for doing so. Steve Jobs had it right when he said it's all about staying focused. That's the key to keeping the monkeys at bay, and I offer a simple, daily exercise for doing so at the end of this post. First, the five micro-strategies.</p>

<i><p>1. Focus on your compelling purpose.</i><br>
This doesn't mean having a collection of carefully written goals or strategies. It means being crystal clear about the central, pure purpose of your leadership. This is your core reason for existing as a leader. Without this core, it's easy to get distracted.</p>

<i><p>2. Focus on having clear priorities.</i><br>
Clear priorities help bring your purpose to life during the rigors of day-to-day leadership. They determine how you and your team allocate time, talent and money. Your purpose forms the heart of your leadership. Your priorities are its hands and feet. They’re how you get your leadership done. I knew a leader who started every Monday morning with a team call to review the group's priorities and a round robin discussion involving every manager about what needed to happen that week to accomplish those priorities. This kept the team laser focused during a time of disturbing change.</p>

<p><i>3. Focus on efficient practices.</i><br>
I often hear the distinction that <i>managers</i> focus on doing "things right" while <i>leaders</i> focus on doing the "right things." This just doesn’t resonate well with my experience. The effective leaders I know do both. I believe you have an obligation to yourself, your team and your organization to focus on the right things and their efficient execution. A lot of work has been done in the area of  process improvement that can be applied to leadership practices. Make sure the day-to-day practices you and your team have in place are as streamlined and efficient as possible.</p>
  
<p><i>4. Focus on making progress.</i><br>
Making progress is critical. It's how you make a difference as a leader. The real question is how to measure that progress. My suggestion is to create a set of metrics directly related to the factors above: the certainty of your purpose, the clarity of your priorities, and the efficiency of your practices. You can think of these measures in a number of ways, such as a triple layer cake, three concentric rings of a target, or three gauges on a dashboard. The critical factor is to know what progress means for you and your team. Then focus on measuring that progress, celebrating that progress and learning from your mistakes when progress is not made. Mistakes happen. Mistakes are to be forgiven, and mistakes should be the stepping stones for continuous improvement.</p>
  
<i><p>5. Focus on dynamic perspectives.</i><br>
Keeping a tight focus on your leadership purpose, priorities and practices is a prerequisite for effective leadership. It enables you say yes to what is strategically important and say no to things that dilute your energy and impact. Focus is what leadership monkeys fear the most. But, leadership <i>focus</i> needs to be balanced with leadership <i>foresight</i>, the ability to routinely examine emerging issues internal and external to your organization with the potential to disrupt the status quo. Focus without foresight results in blind spots destined to blindside your leadership efforts.</p>
  
<p>Why do I call these “micro-strategies?” Because you don’t need a two-day retreat or expensive consultants to bring these practices into your daily routines as a leader. Try this out each day for one week and see how it works for you. I recommend getting a timer, if you don’t already have one.</p>
  
<p>Spend five minutes each morning reviewing your compelling purpose as a leader and creating a quick to-do list that will bring that purpose to life in the day’s activities. Next, spend five minutes reviewing your leadership priorities and making a quick to-do list focused on your priorities for the day. Repeat these same steps for the remaining three micro-strategies, spending five minutes each on your leadership practices, progress and perspectives.</p>
  
<p>All together, this daily micro-strategies exercise should take 25 to 30 minutes. It will keep you focused and monkey-free for the entire day. It may be well worth it.</p>
  
<p>If you have difficulty in completing these daily exercises in the time allotted, you may want to step back to take a broader view of these topics. As a resource for this deeper work, I recommend William Ury’s <i>The Power of a Positive No</i> (NY: Bantam Books, 2007).</p>