---
title: Leadership Is Like Swimming
date: 2015-04-23 02:00 EST
tags:
- Henry Mintzberg
- leadership
- reflective practice

quote: Leadership, like swimming, cannot be learned by reading about it.

author: Henry Mintzberg
---

<p>I love reading about leadership, but if the secret of effective leadership could be found in books alone, we should expect leadership perfection by now. I say this after recently searching the topic of leadership on Amazon.com and finding more than 125,000 book entries.</p>
<p>As leaders, we all have much to learn. We are all leadership highways under construction, with rough spots to smooth out. We can all be better leaders tomorrow than we are today.</p>
<p>The question is: "How do we get better?"</p>
<p>There’s an old joke about the two men encountering one another on a Manhattan street. One man looking for directions asks the other: “How do I get to Carnegie Hall?” The other man replies: “Practice.”</p>
<p>The same is true when it comes to leadership effectiveness. The pathway to improvement is paved with practice. You get ideas. You experiment. You get feedback and reflect on your outcomes. Like an elite athlete, you get the coaching you need, and get better every day.</p>
<p>The concept of <i>Kaizen</i>, or continuous improvement, was introduced to American management almost thirty years ago and remains very applicable to leadership development today. <i>Kaizen Leadership</i> includes identifying small steps you can take every day to become more effective, implementing those steps, reflecting on their effectiveness and, if successful, building them into your leadership routines.</p>
<p>You don’t learn to lead by reading alone. You learn to lead through reflective practice and getting better one day at a time. You learn to lead like you learn to swim, eventually making it to the deep end of the pool.</p> 
<p>Go ahead, jump right in and keep me posted on your leadership learning journey.</p>
