---
title: What’s Your Leadership Golden Rule?
date: 2015-10-07 05:00 EST
tags:
- Pope Francis
- leadership
- leadership development


quote: Do unto others as you would have them do unto you.

author: Luke 6:31
---

<p>For eleven years I wrote congressional testimony for federal officials, and sat there with them on those back benches, but I never saw anything like it. Members on both sides of a bitterly divided Congress standing and applauding a maxim we all learned in grade school. Pope Francis was reminding them of a basic element of global leadership. He was reading them the Golden Rule. </p>

<p>There is something particularly powerful about the Golden Rule. It resonates in our personal lives. It underlies our ethical principles, and it's found in various expressions in all of the world's great religions.</p>

<p>I also believe it has a very practical meaning for our work as leaders. We could paraphrase the Golden Rule of Leadership in this way: "lead others as you would have others lead you."</p>

<p>How would you have others lead you? When you are at your best, how are you being led? These are important questions. Below are my answers but importantly, what are yours?</p>

<p>I like to be led:</p>

<ul>
<li>-With purpose and integrity</li><br>
<li>-With understanding and support</li><br>
<li>-With openness and honesty</li><br>
<li>-With mutual accountability</li><br>
<li>-With latitude and flexibility</li><br>
<li>-With a sense of accomplishment</li><br>
<li>With wholeness and a commitment to individual and social responsibility</li><br>
</ul>

<p>To live by the Golden Rule of Leadership, these are the same benchmarks that should be used for measuring my own leadership.</p>

<p>Leadership can seem complex and abstract, surrounded with a multitude of expert opinions, but Pope Francis reminds us that it might be as simple as abiding by the Golden Rule.</p>

<p>To get started, here are some practical steps to take. Make a list of the ways you would like to be led. List the factors in a chart or table. Using a scale of 1 to 10, what score would you give yourself on each factor? What score would others give you on each factor? Don't be afraid to ask. Now, what actions should you take starting Monday to improve both scores?</p>

<p>You could also take the opposite approach and discover something new. List all those ways you DON'T like to be led. How often are they popping up in your own leadership? What scores would you give yourself and get from others on each factor? What should you STOP doing on Monday to lower those scores? Try adopting both approaches for maximum impact.</p>

<p>I bet if you did this, and truly lived by the Golden Rule of Leadership, you'd get a standing ovation, as well.</p>

