---
title: How Leaders Can Celebrate Labor Day
date: 2015-8-26 05:00 EST
tags:
- leadership
- leadership development
- Martin Luther King, Jr.

quote: All labor that uplifts humanity has dignity and importance and should be undertaken with painstaking excellence.

author: Martin Luther King, Jr
---

<p>Today is August 27th and Labor Day is right around the corner, with its parades, celebrations and well-deserved recognition of the important role labor plays in our collective well-being.</p>

<p>Dr. King’s reflection on the value of labor quoted above reminds us all that labor is not defined by a designated status within an organization, but by the qualities of labor itself. Labor, whether it occurs on the shop floor or in the corner office, should uplift the lives of others and embody a commitment to painstaking excellence.</p>

<p>As leaders, one of the most important things we could do this Labor Day weekend is to take a few minutes to reflect on the nature of our own work. Does it meet the standards laid out by Dr. King? Take out your laptop, or your old-school paper and pencil, and jot down your answers to these questions:</p>

<p><ul>
<li>-How does my leadership uplift the lives of others? Make a list. How does my leadership fall short of this goal? Where can I improve?</li>
<li>-What aspects of my leadership embody a painstaking commitment to excellence? What aspects don’t? Where can I improve?</li>
<li>-What specific actions can I take to improve the quality and impact of my labor as a leader?</li>
</ul></p>

  
<p>Sure, there will be flag waving and cook outs during this Labor Day weekend, but a great way to celebrate the contribution of labor to our shared way of life is to make sure our own labor as leaders lives up to the highest standards. By doing so, we can make every day a Labor Day.</p>

<p>And for those of you who believe that doing good can get you ahead, Jim Collins has some great news. In his best-selling book on leadership, <i>From Good to Great</i> (NY: HarperCollins, 2001), he proposes five levels of leadership, with the highest level of leadership characterized by both humility (uplifts others more than self)  and an unrelenting on focus organizational performance (a painstaking commitment to excellence).</p>

<p>So there you go. Be great and enjoy your Labor Day!</p>