---
title: What’s the unique ability of all leaders?
date: 2015-01-07 17:40 EST
tags:
- leadership
- strategy
quote: The future belongs to people who see possibilities before they become obvious.
author: Ted Levitt	
---

<p>You’ve heard it before: “Leaders transform possibilities into realities.” Ted Levitt, former Harvard professor and editor of the Harvard Business Review reminds us that seeing those possibilities comes first.</p>

<p>As a leader, what possibilities do you see for your organization, your team and even yourself? Most leaders I work with have difficulty finding the time and space to think deeply about possibilities. My recommendation is simple. Set aside a 4 hour block of time each month for possibility thinking. Some leaders say: “I can’t afford it.” Ted Levitt would argue that true leaders can’t neglect it.</p>

<p>If you do the math, you might be surprised. Most leaders work at least 50 hours a week. Fifty hours times four weeks a month, equals 200 hours. Four hours a month for possibility thinking represents 2% of your leadership time. Your leadership future is worth that 2% investment.</p>

<p>Question: Have you seen leaders use the power of possibility thinking to create a successful path for their organization? Do have a good story to share? I’d love to hear it. And, I’ve got a couple leadership exercises on this subject, if you are interested. Just let me know.</p>
