---
title: Three Ways To Understand and Improve Your Executive Presence
date: 2016-11-13 5:00 EST
tags:
- leaderships
- communication
- executive presence


quote: The key is to keep company only with people who uplift you, whose presence calls forth your best.

author: Epictetus

---

<p>Year after year the topic of executive presence makes its way to the top ten list for leadership development. As a result, there’s an overwhelming abundance of tips, tactics and advice on the subject.</p>

<p>To prepare for a recent teleconference on executive presence for a leading financial services firm, I searched through YouTube and found more than 35,000 entries on the subject. Amazing!</p>

<p>I chose three of varying length and perspective to share with the participants for reference. With so much interest in executive presence, I thought I’d provide the same annotated list with my readers here. Let me know your thoughts, and if you have additional resources to share.</p>

<p><u><strong><a href="https://youtu.be/i2QOAfWLedE" target="_new">&ldquo;Executive Presence: Talks at Google&rdquo;</a></strong></u></p>
<p>Sylvia Ann Hewlett presents an engaging overview of current research on executive presence. This is a lengthy, but accessible, presentation containing useful information that viewers can use to better understand the three basic domains of executive presence: gravitas, communication and appearance. Hewlett provides clear definitions of each domain and practical examples viewers can use in experimenting with enhancing their own executive presence. This video might also useful for coaches to use in their client work related to executive presence.</p>

<p><u><a href="https://youtu.be/KdQHAeAnHmw" target="_new"><strong>&ldquo;Power &amp; Influence&rdquo;</strong></a></u></p>
<p>Deborah Gruenfeld examines the importance of nonverbal communication in executive presence and influence. She emphasizes the importance of balancing authoritative and approachable body language to maximize executive presence. Gruenfeld demonstrates each style of body language in ways that are easy to grasp and adopt. She also illustrates how gender differences in nonverbal behavior and body language enhance or diminish executive presence. This relatively short and easy to digest video could be very helpful for men and women who want to show up at their best.</p>

<p><u><a href="https://youtu.be/1iiK70oGd5M" target="_new"><strong>&ldquo;Leadership Presence: What is Presence?&rdquo;</strong></a></u></p>
<p>In contrast to the emphasis on external expressions of executive presence offered by Gruenfeld and Hewlett cited above, James Scouller explores the inner dimensions of executive presence. For Scouller, beliefs about self and others, personal hopes and fears, along with other intellectual and emotional constructs are the underlying factors that shape executive presence. His approach to understanding and improving executive presence is to work from the inside out. This relatively short video is the first in a four part series designed for coaches, as well as leaders.</p>
