---
title: Living and Working in &ldquo;Crazy Town?&rdquo; Here&rsquo;s How to Escape.
date: 2016-12-07 5:00 EST
tags:
- leadership
- leadership presence
- leadership communications



quote: Give Peace a Chance.
author: John Lennon

---

<p>So many leaders I know live and work in a place I call Crazy Town.</p>

<p>Collectively, they seem stressed out, change-weary, and operating with little time to think. They feel overwhelmed, and their calendars are absolutely overstuffed. They tell themselves it&rsquo;s going to get better next year, but next year never comes. I know the feeling.</p>

<p>As a corporate communications executive, I&rsquo;ve owned and occupied a big chunk of Crazy Town. I&rsquo;ve walked down its unforgiving streets where expectations fly off the charts, where needed resources are impossible to find, and where the world seems to be ready to boil over.</p>

<p>The external factors fueling this common condition aren&rsquo;t going away anytime soon. In fact they may get worse.</p>

<p>As leaders, the most fruitful path forward is to explore how we can we think differently, act differently, and mindfully bring more serenity and peace to our work.</p>

<p>I offer a simple daily routine that might help. I&rsquo;ve been working with this routine for the past 90 days and making a few modifications along the way. Even as a work in progress, it&rsquo;s helping me and I hope it can help you.</p>

<p>I take about five minutes at the start of each day to write out the following passages and reflect on their meaning for the day ahead. They are phrased as instructions to myself designed to guide both <i>what</i> I do as well as <i>how</i> I do it. Working through this morning exercise reminds me I can move through each day with more serenity and PEACE.</p>
<strong>➯</strong> <u><strong>P</strong>repare</u> yourself for the day&rsquo;s tasks and its opportunities to be at your best.<br />
<strong>➯</strong> <u><strong>E</strong>nergize</u> yourself for the day in body, mind, and heart. Stay fresh.<br />
<strong>➯</strong> <u><strong>A</strong>ccept</u> each day&rsquo;s setbacks, as well as its gifts. Learn from both.<br />
<strong>➯</strong> <u><strong>C</strong>oncentrate</u> fully on one thing at a time. Visualize and celebrate its success.<br />
<strong>➯</strong> <u><strong>E</strong>njoy</u> the pleasant moments each day brings. Hold onto each for three breaths.</p>

<p>To be the best leader you can be, give PEACE a chance. It can be your escape route from the manic life of Crazy Town.</p>
