---
title: How Leadership is Like Preparing for the Olympics
date: 2016-08-17 5:00 EST
tags:
- Olympics
- leadership development
- leadership communication


quote: Each bruise is a lesson. Each lesson makes us better.

author: Syrio Forel, a Game of Thrones character
---

<p>Yes, it's true. The preparation phase for the Olympics is predictably messy, chaotic and usually controversial.</p>

<p>Long before the bright lights are lit for the opening ceremony, most of the attention focuses on doomsday predictions and finger pointing. Then the big shift happens. Athletes from all across the globe start to offer absolutely breathtaking and memorable performances.</p>

<p>All the doubt and concern begins to dissolve, replaced with broad smiles and gold medals.</p>

<p>As I watch this year’s Olympic transformation take place, I recall the work of leaders I know who are managing large-scale change initiatives and how their efforts start off messy, chaotic and controversial. The dire predictions and finger pointing are there, as well.</p>

<p>But, then, a similar shift begins to unfold. With the right leadership, teams can pull together to achieve admirable and quite memorable results. Not every time, but some of the time.</p>

<p>Our job as leaders is to dial down the distractions at the start of the process and make sure our team’s pathway to the podium is as smooth as possible.</p>

<p>Then get out of the way so the spotlight can shine on the team’s accomplishments, remembering they’re the ones whose hard work has allowed them to cross the finish line. It’s not our job to be the winner, but to lift up others to the winner’s circle. </p>