---
title: The Mathematics of Leadership
date: 2016-05-18 5:00 EST
tags:
- Albert Einstein
- leadership development
- leadership communication


quote: Pure mathematics is the poetry of logical ideas.

author: Albert Einstein
---

<p>Leaders are like mathematicians. They need to master the four basic functions of their craft: addition, subtraction, division and multiplication.</p>


<p><strong>Addition:</strong> Leaders need to be addition addicts. They can’t afford to let their capabilities grow stale, especially in two critical areas. First, they need to conquer the emerging leadership competencies required to drive business results in a rapidly changing and uncertain world. Second, and equally as important, they need to strengthen their levels of self-awareness necessary to manage effectively in a postmodern era. Fifty years ago John F. Kennedy observed that leadership and learning are simply indispensable to one another. So, let’s keep adding on.</p>


<p><strong>Subtraction:</strong> Here’s how to lead by subtraction. If you haven’t already done so, get a copy of William Ury’s book <i>The Power of a Positive No: How to Say No and Still Get to Yes</i> (2007) and learn how to amp up your leadership effectiveness and well-being by simply saying “no” more frequently. Ury shows you how to practice subtraction in ways that clarify your intentions, preserve your relationships and remove distractions from your path to leadership success. A friend of mine puts it this way: “I try to say no to at least one request a day, with intention and diplomacy.” That’s leadership by subtraction.</p>

<p><strong>Division:</strong> For years, software engineers have used “agile methodologies” to tackle complex software development projects. They break complexity down into discrete tasks, assign cross-functional teams to each task, and adopt flexible test-and-learn approaches to solve each task. Leaders can adopt a similar approach by taking their most complex challenges, dividing them into discrete components and assigning them to skilled teams to accomplish on tight deadlines. Of course, some leaders already do this. When members of my old team in San Francisco read this post, they’ll recognize the phrase “divide and conquer.” Thank you, Melissa.</p>

<p><strong>Multiplication:</strong> The key to all leadership is multiplication. Leaders multiply their potential impact by engaging and empowering others. Sustainable leadership is never about “me,” it’s always about “we.” Achieving this shared sense of purpose and direction requires leaders to be clear, open, and authentic in all forms of communication. Effective communication is the multiplier effect for all leadership efforts. You can learn more about how to master the art of leadership communication in my last two “Thinking of Leadership” posts available in the menu on the right.</p>

<p><strong>How to apply the mathematics of leadership</strong></p>


<p>Take a look at the next two weeks on your calendar. Where do you have opportunities to practice a new skill or adopt a new practice that will enhance your leadership effectiveness? Where can you say no to a request, or delegate it to someone else, to create a sharper, more focused set of priorities for yourself? Where can you take something that’s disturbingly complex, divide into subtasks and assign them to teams? And, where can you inspire and motivate others to take on tasks that will multiply your leadership efforts?</p>

<p>Remember, keep it simple. You don’t have to employ all four mathematical functions each and every week. Try this. Block 10 to 15 minutes each Monday morning to identify and commit to just one or two mathematical opportunities each week. Pretty soon, improvements can really add up.</p>
