---
title: The Formula For Effective Leadership Communication
date: 2016-03-16 05:00 EST
tags:
- George Bernard Shaw
- leadership development
- communication


quote: It is simply impossible to become a great leader without being a great communicator.

author: Mike Myatt, Forbes.com (April, 4, 2012)
---

<p>I talk with a lot of people these days about how leaders can improve their communication practices. Here’s how I came up with a formula for those improvement efforts.</p>

<p>You might remember this experiment from a science class in your youth.</p>

<p>Your teacher took out a triangular prism and allowed a beam of light to pass through it to show a remarkable result. What we see everyday as “visible light” is actually composed of six component colors--red, orange, yellow, green, blue, and violet. Wherever light is visible, these six component colors are there as well. Without them there is darkness.</p>

<p>Likewise, if we could pass everyday conversations through a “communications prism,” we would find that it separates into three component parts--content, methods and relationships. Wherever communication takes place, there is content being communicated, methods being used to communicate and relationships between the sender and receiver of communication.</p>

<p>Without all three, no communication takes place. This has special implications for leaders who want to improve their communications practices, presence and effectiveness. In subsequent posts I will cover those implications in detail, here I’ll just cover the highlights by way of an introduction. Stay tuned for deeper dives.</p>

<p>For business leaders who want to communicate more effectively and powerfully, there are specific requirements for each of these three communication components.</p>

<p>
 <ul>
 	<li>-<strong>Content:</strong> the content of leadership communication can range from x to y, but it absolutely has to be centered on organizational vision (where are we going), <i>values</i> (how are we going to get there) and <i>performance</i> (how are we doing right now).</li><br>

 	<li>-<strong>Methods:</strong> the methods of leadership communication can be widely varied, but they absolutely have to be characterized by <i>consistency</i> (across time and audiences), appropriateness (for diverse audiences and situations) and <i>timeliness</i> (the value of leadership communication diminishes over time).</li><br>

 	<li>-<strong>Relationships:</strong> every communication act is shaped by the relationship between the sender and receiver of information. For leadership communication to be effective in engaging and motivating others, leaders must be considered <i>credible</i> (otherwise their communication will be discounted), <i>inclusive</i> (maintaining open and honest two-way communication), and <i>appreciative</i> (clearly recognizing the contributions of all involved).</li>

 </ul>
</p> 

<p>At a high level, you can think of a formula for effective leadership communication as composed of three primary factors--content, methods, and relationships.</p>

<center><h4>C=c+m+r</center></h4>

<p>Each component can be viewed independently and its effectiveness can be measured separately. By breaking down communication into its component parts, and obtaining detailed feedback on each factor, leaders can discover concrete starting points for building improvement plans that shed new light on leadership communication.</p>