---
title: Maximizing Your Leadership Communication Effectiveness
date: 2016-04-27 5:00 EST
tags:
- George Will
- leadership
- communication


quote: The pursuit of perfection often impedes improvement.

author: George Will
---

<p>Yes, but how do you do it? How do I actually improve my leadership communication?</p>
<p>That’s the question I received from several of my readers following my last post that offered a formula for effective leadership communication.</p>
<p>According to that formula, effective leadership communication can be considered as the sum of three factors: 1) compelling content, 2) meaningful methods, and 3) robust relationships among the sender and receiver of communication.</p>

<center><strong>C = c + m + r</center></strong><br>

<p>Without a doubt, communication is a complex process, and leaders who want to improve their communication practices--or who are asked to do so--often don’t know where to start, or how to take on “one more thing” with all the other expectations resting on their shoulders.</p>
<p>Here’s where I can provide at least one answer to the question: “So, how do I do it?”</p>
<p>By applying the above formula, I’ve created a “Leadership Communication Checklist” leaders can use to identify concrete starting points and maximize the communication opportunities that are already on their calendar and task list, without adding one more meeting, one more conference call or one more email. Interested?</p>
<p>The checklist is built on specific requirements for each of the three factors contained in the formula for effective leadership communication. Using the checklist on a weekly basis allows leaders to pinpoint existing opportunities to magnify their communication effectiveness and establish a routine of continuous improvement.</p>

<p><strong>Take it one week at a time</strong></p>

<p>The first step is for leaders to review the meetings and tasks already scheduled for the week ahead and determine which of those opportunities can be used to strengthen the content, the methods and the relationships involved in their communications. This review process is guided by three basic question sets. </p>
<p><i>What specific opportunities exist this week to strengthen the CONTENT of my leadership communication? For example, what opportunities exist to do at least one of the following:</p></i>
-reinforce the vision and values that provide purpose and direction for our organization<br>
-clarify how roles, responsibilities and priorities align with those vision and values<br>
-emphasize the progress being made and improvements required<br>
-solicit feedback about how well I’m communicating the vision, values, expectations and performance of our organization.
</p>

<p><i>What specific opportunities exist this week to strengthen the METHODS of my leadership communication? For example, what opportunities exist to do at least one of the following:</p></i>
-share meaningful information in a timely manner<br>
-ensure my key leadership messages are being reinforced through repetition, illustration and demonstration<br>
-use multiple communication methods and channels to ensure adequate reach and engagement<br>
-solicit feedback about the timeliness, consistency, and effectiveness of my leadership communication methods.<br></p>

<p><i>What specific opportunity do I have this week to strengthen the RELATIONSHIPS that shape my leadership communication? For example, what opportunities exist to do at least one of the following: <p></i>
-reinforce credibility and trustworthiness in everything I say and do<br>
-express appreciation and gratitude for the work and accomplishments of others<br>
-enable open, honest two-way communication to build a culture of engagement and empowerment<br>
-solicit feedback about how well I exhibit appreciation, openness and credibility as a communicator and leader</p><br>


<p><strong>Create a weekly communication checklist</p></strong>

<p>A key to using this checklist is to identify one or two existing opportunities each week that will allow you meet at least one of the specific requirements mentioned above for the content, methods and relationships involved in effective leadership communication. Choose opportunities that are relatively easy to accomplish and that are likely to have a meaningful impact. Here’s an example of a weekly checklist: </p>

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#567E91;}
.tg .tg-yw4l{vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">Communication Factor</th>
    <th class="tg-031e">Factor Requirements</th>
    <th class="tg-031e">What opportunities exist next week to strengthen my leadership communication?</th>
  </tr>
  <tr>
    <td class="tg-031e">Content of communication</td>
    <td class="tg-031e">Vision &amp; values<br><br>Roles &amp; expectations<br><br>Progress &amp; performance<br><br>Feedback on content</td>
    <td class="tg-031e">At my Town Hall WebEx meeting show how our improving customer service scores align with our overall vision and values. Reinforce our value of customer satisfaction.<br><br>During our weekly team call, have a frank discussion with the Tampa team about their performance and what is needed to meet expectations consistent with our vision and values.</td>
  </tr>
  <tr>
    <td class="tg-031e">Methods of communication</td>
    <td class="tg-031e">Timeliness of message<br><br>Consistency of communication<br><br>Multiple and appropriate methods<br><br>Feedback on methods</td>
    <td class="tg-031e">Ask my direct reports for feedback about the effectiveness of the social media channels we are using with our team members. What evidence do we have about their ability to increase employee engagement?<br><br>Review slide deck for my upcoming Executive Committee presentation to make sure my messages are consistent and timely.</td>
  </tr>
  <tr>
    <td class="tg-yw4l">Relationships involved in communication</td>
    <td class="tg-yw4l">Credibility of communication<br><br>Open, honest, two-way communication<br><br>Appreciation and respect through communication<br><br>Feedback on relationships</td>
    <td class="tg-yw4l">During the “Project Turnaround” team call open the discussion for a two-way exchange of ideas for resolving the issues facing the,St. Louis call center. Demonstrate open, two-way communication. <br><br>During my scheduled 1:1 meeting with Peter recognize the leadership he is providing for the Bay Area team. He’s doing a great job.</td>
  </tr>
</table><br>

<p>The power of this checklist comes in three parts. First, it’s designed to provide concrete starting points for leaders who are interested in improving their day-to-day communication practices. Second, it does so by maximizing existing communication opportunities, without imposing new ones. Third, if small, intentional improvements are made each week, major improvements will take place over time.  For example, if you make just a 5% improvement in your communication effectiveness each week, week after week, for 10 weeks, the degree of improvement would be meaningful and significant. You’ll notice a difference and so will people around you. Take it one week at a time, and don’t let the lack of perfection stand in the way of your step-by-step improvements.</p>
