---
title: Three Leadership Outcomes You Don’t Want
date: 2016-02-04 05:00 EST
tags:
- Winston Churchill
- leadership
- communication


quote: If you have an important point to make, don't try to be subtle or clever. Use a pile driver. Hit the point once. Then come back and hit it again. Then hit it a third time - a tremendous whack.


author: Winston Churchill
---

<p>Believe me, I understand. Leaders are pressed for time. They live in a time-constrained world where every click of the clock matters. We’re all trying to figure out how to speed through the day spending as little time as possible on responsibilities that come tumbling our way. Managing an endless stream of meetings and an avalanche of emails.</p>

<p>Even so, in my last post I argued that as leaders we should spend more time in intentional and disciplined leadership communication. Doing so will actually save time and money, according to research reported in David Grossman’s book <i>You Can’t NOT Communicate</i> (Chicago: Little Brown Dog Publishing, 2012).</p>

<p>Not doing so will risk three leadership outcomes that no one wants on their annual performance review.</p>

<ol>
	<li><strong>1. You’re wasting your employee’s time:</strong> In a study of worldwide organizations, nearly half reported their management had not effectively communicated business strategies to employees leaving them in the dark. Furthermore, only one third reported their employees were effectively aligned to the missions and visions of their businesses. With miscommunication and misalignment comes wasted time.</li>
	<li><strong>2. You’re wasting your company’s money:</strong> On average, employee miscommunication and misunderstanding costs large firms $62 million annually and smaller firms an average of $26,041 per employee. Money wasted can never be found.</li>
	<li><strong>3. Your losing shareholder value:</strong> During a recent five-year period, companies with highly effective communication practices had 47 percent higher total returns to their shareholders than those with less effective communication.</li>

</ol>

<p>To counteract the most common causes of miscommunication and missed communication opportunities, Grossman recommends leaders concentrate on the following :</p>

<p>
 <ul>
 	<li>-Avoid communication delays by responding to outstanding questions in a timely manner. Don’t wait for “all” the information to be available.</li>
	<li>-Keep communication channels open with frequent updates, avoid staying silent.</li>
	<li>-Make sure your messages are clear and consistent.</li>
	<li>-Use language that is easily understood, straight-forward and jargon free.</li>
	<li>-Talk with employees instead of talking at them.</li>
	<li>-Speak plainly and truthfully rather than spinning messages.</li>
	<li>-Make sure that technologies used for communications are reliable and available to everyone.</li>

 </ul>
</p> 