---
title: How To Jumpstart Your Leadership for 2017 - We All Need One
date: 2017-01-05 5:00 EST
tags:
- leadership
- new year



quote: Cheers to a new year and another chance for us to get it right.
author: Oprah Winfrey

---

<p>Yes. It&rsquo;s a new year. A perfect time to establish a few leadership resolutions to get the year started.</p>

<p>We all have opportunities to create a better version of ourselves each day and every year. Even small improvements consistently applied can make a big difference.</p>

<p>Personally, I&rsquo;m using a four-element framework for leadership to shape my resolutions for 2017. Each element of the framework-- visualize, explain, include and execute-- plays an essential role in how we think about and conduct our leadership activities. If you haven&rsquo;t already worked through a similar exercise for setting your new year&rsquo;s leadership resolutions, feel free to use this one.</p>

<p><strong>Visualize</strong>: I will get better at visualizing my leadership aspirations by creating clear and compelling images of the differences I want to make as a leader. This will include developing a 30 second, 5 minute and 20 minute version of what I envision.</p>

<p><strong>Explain</strong>: I will improve the way I communicate and explain my leadership aspirations, including the practical changes that are required and the mutual benefits that will be available to all concerned. Cadence, consistency and empathy will be important.</p>

<p><strong>Include</strong>: I will include diverse, relevant stakeholders in my leadership conversations, data gathering, and planning. I will more intentionally reach out to others, more so than I did this past year. Understanding that inclusion will improve my leadership efforts.</p>

<p><strong>Execute</strong>: I will focus on creating a team approach to effective execution, gaining from the experience and talents of others. I do not need to do it alone.</p>

<p>Speaking of gaining from the experience and talents of others, these four elements of leadership are drawn from a presentation Bill Clinton made to the LEAD conference presented by <a href="http://HR.com" target="_blank">HR.com</a> in 2015. Regardless of your opinions about his politics or past behaviors, he does know a thing or two about leadership. You can <a href="https://youtu.be/h198ZlfXViA" target="_blank">check out his presentation on YouTube</a>.&nbsp;It&rsquo;s a great way to jumpstart your leadership new year.<br />
&nbsp;</p>