---
title: Two Superpowers of Leadership
date: 2017-10-12 5:00 EST
tags:
- leadership
- leadership presence
- leadership communications

quote: Curiosity has its own reason for existing.
author: Albert Einstein
---

<p>There are two questions that leaders can ask themselves each morning if they want to avoid getting lost in the ad hoc chaos waiting for them in the day ahead.</p>



<p><strong>Where is my commitment?</strong><br>



Imagine starting each morning with complete clarity about the one thing that is most important to accomplish before the day is over? It’s simple. Put your to do list aside until that one thing is done. This level of focus will help you cut through the distractions and interruptions littering the day’s landscape.</p>



<p>For a refresher on ten practical tips you can use for creating and maintaining this level of clarity, pull out a copy of the classic work <i>The Power of Focus</i> by Jack Canfield, Mark Hansen and Les Hewitt. It’s amazing.</p>



<p><strong>Where is my curiosity?</strong><br>



What are you curious about as a leader? Being clear about your commitments drives you to the core of your leadership, but being equally clear about your curiosities drives you to your leadership edge. Both are equally important. Your leadership edge is where your future leadership self is waiting to be formed. Curiosity is our portal for a deeper understanding and a keener anticipation of changes yet to come. Without curiosity our leadership either withers or becomes irrelevant. For some interesting insights into how curiosity works and how it has shaped our history, see <i>Why: What Makes Us Curious</i> by Mario Livio.</p>



<p>Remember, there are two superpowers of leadership--<u>commitment</u> and <u>curiosity.</u> Take ten minutes each morning to write down the answers to two questions: “Where is my commitment?" “Where is my curiosity?” You’ll find out it’s worth it. Let your leadership and communications show it.</p>