---
title: We All Need Leadership Bifocals
date: 2015-02-09 08:00 UTC
tags:
- 
- 
- 
---
            <p>I just got back from my annual eye exam. Not that long ago, I remember the eye doctor informing me that people of a “certain age” need to start wearing bifocals. Drat! Was he talking about me? You might have to put your ego aside, but bifocals can be a great help in navigating through everyday life. That’s not all. As I was sitting in the eye doctor’s chair this year, I also realized that I needed “leadership bifocals” … and here’s why.</p>
            <p>As leaders, we all need to be able to see clearly in the distance and up close at the same time. One without the other won’t get the job done. <p>
            <p><u>Distance vision is just half of what you need</u></p>
            <p>Envisioning the future and enlisting others in that vision is at the heart of leadership, according to James Kouzes and Barry Posner in their best selling book, <i>The Leadership Challenge: How to Make Extraordinary Things Happen in  Organizations.</i> (San Francisco: Jossey-Bass, 2012). Creating that vision requires seeing in the far distance where the possibilities of the future reside, but bringing those possibilities to life requires paying attention to what is happening in the here and now.</p>
            <p><u>Keeping your eye on the ball is also necessary.</u><p>
            <p>The noted futurist, Alvin Toffler, put it this way: “You've got to think about the big things while you're doing the small things, so that all the small things go in the right direction."  When it comes to paying attention to what’s up close in leadership, I find David Allen's practical advice very helpful. He suggests creating a "vertical focus" that helps you bridge from your vision of desired outcomes down to the essential "next steps" of what needs to be done now. You can find this step-by- step process in his book, <i>Getting Things Done: The Art of Stress-Free Productivity.</i> (NY. Penguin Books, 2001). And if you’re interested in a quick and insightful read along these same lines check out Peter Bregman’s <i>Four Seconds: All the Time You Need to Stop Counter-Productive Habits and Get the Results You Want.</i> (NY: HarperOne, 2015)</p>
            <p><u>The balcony and dance floor</u><p>
            <p>Whenever I think about seeing things out in the distance and close at hand at the same time, I think of my friends at McKinsey, Scott Keller and Carolyn Dewar. They were the first folks to introduce me to the “balcony and dance floor” metaphor popularized by Ronald Heifetz and Martin Linsky in their book <i>Leadership on the Line: Staying Alive During the Dangers of Leading</i>. (Cambridge, MA: Harvard Business School Press, 2002). It provides another way of thinking about “bifocal leadership.”</p>
            <p> Adopting a balcony perspective means mentally rising above the dance floor where the action is, seeing yourself and your team in action while standing on the balcony. From this distance you can see patterns and movements more clearly, you can see the dance in context of the entire dance floor, how one movement leads to another. You are removed from the fray. Without this perspective you may miss critical data, your perceptions will be half baked and likely to lead to an incorrect diagnosis or misguided decision.</p>
            <p>The balcony view, alone, is not enough. You need to see yourself objectively as you are on the dance floor, and learn to hold onto both perspectives at the same time. Through practice, you can learn how to move back and forth between the dance floor and the balcony, making decisions, observing their impact in real time, moving from one perspective to another effortlessly.</p>
            <p><u>A practice exercise</u><p>
            <p>Building this balcony-dance floor capacity takes practice. Here’s a four week leadership lab exercise you can use to get started. Once a week for four weeks, select an initiative you are leading to be your learning laboratory. Create a lab notebook for this exercise and for each selected initiative take notes as you practice adopting a balcony and dance floor perspective. Answer these five questions in your lab notebook:</p>
            <ol>
            	<li>1. What do I see from the balcony?</li>
            	<li>2. What do I see from the dance floor?</li>
            	<li>3. What might I miss from the dance floor?</li>
            	<li>4. What might I miss from the balcony?</li>
            	<li>5. What mistakes in judgment and leadership action might I have made if I failed to adopt a simultaneous balcony and dance floor perspective?</li>
            </ol>
            <p>At the end of the four week leadership lab, what patterns or themes can you detect in your leadership? Based on those reflections, what actions can you commit to for the next four weeks? Keep it up, and I’d love to hear about what your learn.</p>
            <p><u>Back to the bifocals</u><p>
            <p>Benjamin Franklin is generally credited with the invention of bifocals and is considered to be first person to wear them. I say hats off to Old Ben. I can see him now gracing the dance floors and peering down from Colonial balconies. When I think of it that way, I don’t feel so bad slipping on my new pair of glasses.</p>

                           
			<div class="author">Alanson Van Fleet, Van Fleet Group</div>
