---
title: A Valentine for Leaders
date: 2015-02-12 08:00 UTC
tags:
- leadership 
- self-compassion 
- vulnerability
---

            <p>Here's the point. Leaders can use a little more love in their lives, and there's no better day to recognize this than Valentine's Day.</p>
            <p><u>Leadership is a rough ride</u></p>
            <p>If you've been leading others for very long, you know it's full of ups and downs. There's plenty of well-deserved praise and recognition for a job well done, but there's just as much second-guessing by others and nagging self doubt about your own performance to balance things out. Leadership is a wonderful job, but it does have its rough edges.</p>
            <p>At its heart, leadership is a relationship business, requiring just as much love and understanding as it does pushing and shoving. However, sometimes the love and understanding runs in short supply, especially during challenging times. That's where this Leadership Valentine comes in.</p>
            <p><u>Without love there is no leadership</u><p>
            <p>In order to lead you have to be passionate about what you do and your role as a leader. You have to "love" your work and be committed to its purpose. If you’re in a leadership role just for the lust of more money and more power, it’s time to get out. You’re a short-term player in the wrong game. If you’re in to leadership for the long haul, it’s time to ask the question: “What does it mean to love your work as a leader?” Two particular elements of love … compassion and vulnerability … help answer that question.</p>
            <p><u>The power of compassion</u><p>
            <p>I know, and work with, too many leaders who beat themselves up by focusing relentlessly on their shortcomings. They let their disappointments, fears and hurt get in the way of full leadership. Dr. Kristin Neff at the University of Texas offers a line of research on the relationship of self compassion and productivity that should help set aside these burdens of self-criticism.</p>
            <p>An essential role of leaders is to set high expectations, as well as to push themselves and others to higher levels of performance. Dr. Neff would also argue that an equally essential element of leadership is having compassion for yourself and others when measures fall short and when you don’t do your best. Without a healthy degree of self compassion, leaders can spiral downward and generate a second degree of failure. Dr. Neff shows that self compassion actually leads to higher levels of performance, success and personal well being. If you’d like a quick overview of her work, check out her TEDx talk on YouTube, or for you old-schoolers like me, you can read Kristin Neff’s, <i>Self Compassion: The Power of Being Kind to Yourself</i> (NY: William Morrow, 2011).</p>
            <p><u>The power of vulnerability</u><p>
            <p>Sometimes leaders believe they have to be “Great Men” and “Great Women.” They need to be invincible in board meetings, in key sales presentations, in front of their peers and in front of their own mirrors. They wrap themselves with layers of armor. To be invincible they need to be impenetrable.</p>
            <p>If leadership is a relationship business, just the opposite needs to happen. According to Dr. Brene Brown, research professor at the University of Houston, Graduate College of Social Work, the keys to success in relationships are openness, graciousness and a sense of vulnerability. In her book <i>Daring Greatly: How the Courage to be Vulnerable Transforms the Way We Live, Love, Parent and Lead</i> (NY: Gotham, 2012), she argues vulnerability is not weakness, but  a source of courage, engagement and meaningful connection--all of which are essential components of leadership.</p>
            <p>Leaders often suffer from a self-imposed burden of being strong and never weak. Carrying this burden separates leaders from those around them with a wall of unnecessary self-perfection. Brown illustrates how the paradox of leadership involves being strong by embracing vulnerability and acknowledging one’s fears and shortcomings. She shows how vulnerability, as a key to wholehearted relationships, strengthens leadership, not weakens it.</p>
            <p>As a side note, if you are on YouTube checking out Kristin Neff on self-compassion, you might as well look into Brene Brown’s video on vulnerability. It’s one of the most popular of all TED Talks.</p>
            <p><u>My valentine to you</u><p>
            <p>I’ve been a leader, and worked with leaders, most of my adult life. I’ve seen leaders accomplish amazing, even transformative, results for their organizations. I’ve also seen them fail. I know leadership matters because I’ve seen leaders change thousands of lives, even millions. As a result, I have a deep admiration and appreciation for what they do.</p>
            <p>That’s why I have chosen to dedicate my work to supporting and challenging leaders, encouraging them to be their best, empowering them to lead with passion and purpose, as well as enabling them with a broad repertoire of perspectives and practices that enhance their ability to succeed in their tasks.</p>
            <p>That’s why on this special day, I wish for them more self compassion and greater vulnerability in their lives and their work. And, that’s why I offer them this valentine for leaders.</p>

                           
			<div class="author">Alanson Van Fleet, Van Fleet Group</div>