---
title: Energize Your Leadership in a Hybrid Way
date: 2015-01-07 19:21 UTC
tags:
- hybrid
- leadership
- Prius
---

			<p>Sometimes insight comes in unexpected places.</p>
            <p>It happened to me recently driving to work, and now I think about traffic jams, stoplights and leadership in new ways.</p>
            <p>I own a Prius. It’s a remarkable car, equipped with a hybrid engine which is still a bit mysterious to me. When I apply the brakes to slow down or stop, the braking mechanism actually charges the car's engine. That’s right. Slowing down, even stopping, generates more energy for the car allowing me to go even further while using less gas. Amazing<p>
            <p>What if we think about our leadership as being powered in a similar way--that we have a hybrid-powered leadership engine. Sometimes we need to step on the gas--put the pedal to the metal--to get things done. Then, sometimes, slowing down and even stopping can recharge our leadership batteries, providing us with the energy we need to push on and even come up with fresh perspectives needed to reframe challenges.<p>
            <p><u>How it works for me</u></p>
            <p>In my experience as a leader, I have found that slowing down, even stopping, helps me in at least three ways. First, I find that if I don’t jump right into the day’s activities and take some time to read, reflect, and get some morning exercise, I can stay more focused and fresher in my outlook than if I neglect those routines. Second, when I’m stuck at work, if I take three to five minutes to slow down or even stop what I am doing, I can come back fresh and increase my chances of having a breakthrough idea that adds significant value to the work at hand. And, third, when I get defensive and get in a jam, if I can stop to take a breath and regain my composure, I can find a way out that was not available to me before.</p>
            <p><u>How to do it</u><p>
            <p>If you’d like some practical tips for slowing down, or even strategically stopping, I have two books to consider. First, Jim Loehr and Tony Schwartz have great advice to  offer on how to manage your energy and engagement as a leader in their best selling book <i>The Power of Full Engagement: Managing Energy, Not Time, Is the Key to High Performance and Personal Renewal</i>. </p>
            <p>One of my favorites on how to catch your breath and gain control of your frantic life as a leader is a new release from Scott Eblin, <i>Overworked and Overwhelmed: The Mindfulness Alternative</i>. Scott’s book is full of personal stories and practical tips for succeeding in a hectic world.</p>

                           
			<div class="author">Alanson Van Fleet, Van Fleet Group</div>

