	<!-- FOOTER -->
	<footer class="full_width footer_block">
												
						
		<!-- NEWSLETTER-FORM -->
		<div class="col-lg-4 col-md-4 col-sm-6 padbot20">

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSekVjVv3go_RaIuzPOupEsrTgIbFzcm3taOgV4NwWngIPGZMg/viewform?embedded=true" width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
		
	<!-- //NEWSLETTER-FORM -->
		
			<!-- FOOTER SOCIAL -->
			
		</div>
						
		<div class="respon_clear"></div>
						
		<!-- RECENT TWEETS -->
		<div class="col-lg-4 col-md-4 col-sm-6 padbot20">
			<h2>Recent Tweets</h2>
			<ul class="twitter_list tweet_module"></ul>
			<a class="twitter-timeline" href="https://twitter.com/alansonwf" data-widget-id="530734022293336064">Tweets by @alansonwf</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div><!-- //RECENT TWEETS -->
		<!-- CONTACT US -->

		<div class="col-lg-4 col-md-4 col-sm-12 padbot20">
			<h2>About Us</h2>
			<ul class="contact_info">
				<li>The Van Fleet Group, LLC</li>
                <li>5129 Polo Gate Blvd.</li>
                <li>Charlotte, NC 28216</li>
				<br>
				<li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:alanson@vanfleetgroup.com" alt=""> alanson@vanfleetgroup.com</a></li><br>
				<li><span class="glyphicon glyphicon-phone"> 980-214-7578</li>
				</ul>
				<p>&nbsp;</p>
			<ul class="social">
				<li class="icon1"><a href="http://www.twitter.com/alansonwf" alt=""></a></li>
				<li class="icon4"><a href="http://www.linkedin.com/pub/alanson-van-fleet/1/673/5aa" alt=""></a></li>
			</ul><!-- //FOOTER SOCIALS -->
				
			</div>
							

			<!--//CONTACT US -->



		</footer><!-- //FOOTER -->
