	<!-- FOOTER -->
	<footer class="full_width footer_block">
						
		<!-- SITEMAP -->
		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>Links</h2>
			<ul class="foot_links">
				<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Aliquam tempus est sit amet orci</a></li>
				<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Quisque hendrerit velit erat</a></li>
				<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">In bibendum eros ultricies sit amet.</a></li>
				<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Sed tempor hendrerit purus vitae</a></li>
				<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Nunc egestas justo nec enim mollis</a></li>
			</ul>
		</div>

		<!--/SITEMAP-->
						
						
		<!-- NEWSLETTER-FORM -->
		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>Contact Form</h2>
							
			<form role="form">
				<div class="form-group">
					<label for="exampleInputName">Name</label>
					<input type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
				</div>
				<div class="form-group">
					<label for="exampleInputPhone">Phone Number</label>
					<input type="number" class="form-control" id="exampleInputPhone" placeholder="Enter number">
					<div class="form-group">
						<label for="exampleInputEmail">Email Address</label>
						<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
					</div>
					<a class="btn btn-default" href="subscribe.html" role="button">Subscribe</a>
				</div>
			</form><!-- //NEWSLETTER-FORM -->
							
			<!-- FOOTER SOCIAL -->
			<ul class="social">
				<li class="twitter"><a href="http://www.twitter.com/alansonwf" alt=""></a></li>
				<li class="linkedin"><a href="http://www.linkedin.com/pub/alanson-van-fleet/1/673/5aa" alt=""></a></li>
			</ul><!-- //FOOTER SOCIALS -->
		</div>
						
		<div class="respon_clear"></div>
						
		<!-- RECENT TWEETS -->
		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>Recent Tweets</h2>
			<ul class="twitter_list tweet_module"></ul>
			<a class="twitter-timeline" href="https://twitter.com/alansonwf" data-widget-id="530734022293336064">Tweets by @alansonwf</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div><!-- //RECENT TWEETS -->
		<!-- CONTACT US -->

		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>Contact Us</h2>
			<ul class="contact_info">
				<li>The Van Fleet Group, LLC</li>
                <li>3420 Maryhurst Ln</li>
                <li>Charlotte, NC 28226</li>
				<br>
				<li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:alanson@vanfleetgroup.com" alt=""> alanson@vanfleetgroup.com</a></li><br>
				<li><span class="glyphicon glyphicon-phone"> 890-214-7578</li>
				</ul>
			</div>
							

			<!--//CONTACT US -->



		</footer><!-- //FOOTER -->
