	<!-- FOOTER -->
	<footer class="full_width footer_block">
						
		<!-- SITEMAP -->
		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>Leadership Insights</h2>
			<ul class="foot_links">
<% blog('leadership-insights').articles[0...5].each_with_index do |article, i| %>
				<li>
					<span class="glyphicon glyphicon-play-circle"></span>
					<%= link_to article.title, article %>
				</li>
<% end %>				
			</ul>
		</div>

		<!--/SITEMAP-->
						
						
		<!-- NEWSLETTER-FORM -->
		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>Contact Alanson</h2>

<script type="text/javascript" src="https://itsbspoke.formstack.com/forms/js.php?nojquery=1&nojqueryui=1&no_style=1&form=1911616&viewkey=jR0j0h6r7F&style_version=v3"></script><noscript><a href="https://itsbspoke.formstack.com/forms/vfg_contact" title="Online Form">Online Form - VFG Contact Us</a></noscript><script type='text/javascript'>if (typeof $ == 'undefined' && jQuery){ $ = jQuery}</script>							

		
	<!-- //NEWSLETTER-FORM -->
		
			<!-- FOOTER SOCIAL -->
			
			<ul class="social">
				<li class="twitter"><a href="http://www.twitter.com/alansonwf" alt=""></a></li>
				<li class="linkedin"><a href="http://www.linkedin.com/pub/alanson-van-fleet/1/673/5aa" alt=""></a></li>
			</ul><!-- //FOOTER SOCIALS -->
		</div>
						
		<div class="respon_clear"></div>
						
		<!-- RECENT TWEETS -->
		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>Recent Tweets</h2>
			<ul class="twitter_list tweet_module"></ul>
			<a class="twitter-timeline" href="https://twitter.com/alansonwf" data-widget-id="530734022293336064">Tweets by @alansonwf</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div><!-- //RECENT TWEETS -->
		<!-- CONTACT US -->

		<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
			<h2>About Us</h2>
			<ul class="contact_info">
				<li>The Van Fleet Group, LLC</li>
                <li>3420 Maryhurst Ln</li>
                <li>Charlotte, NC 28226</li>
				<br>
				<li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:alanson@vanfleetgroup.com" alt=""> alanson@vanfleetgroup.com</a></li><br>
				<li><span class="glyphicon glyphicon-phone"> 890-214-7578</li>
				</ul>
			</div>
							

			<!--//CONTACT US -->



		</footer><!-- //FOOTER -->
