<section id="leadership_insights_form">
<div class="center">
	<div class="panel panel-default">
		<!-- form horizontal in bootstrap docs -->
		<form name="newsletter_form" method="get" class="newsletter_form form">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 form-group">
					  <label for="name">Name:</label>
					  <input class="input_wt" name="name" type="text" />
					</div>
					<div class="col-md-6 form-group">
					  <label for="email">Email:</label>
					  <input class="input_wt" type="text" name="email"/>				
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<a class="btn btn-default" href="founder.html" role="button">Subscribe to <%= current_page.blog_options.name.titleize %></a>
					</div>
				</div>
			</div>
		</form>
	
	</div>
</div>
</section>			
