<% latest_thought = blog('thinking-of-leadership').articles[0] %>
<section id="thinking_section">
	<div class="center container">
		<div class="row">
		<div class="col-md-12">
		<div class="panel panel-default padbot20">
			<div class="panel-heading">
				<h3 class="panel-title">Thinking of Leadership and Communication</h3>
			</div>
			<div class="panel-body">
							<p>
Leaders live busy lives. These quotes and reflections are meant to provide a quick break from their daily deadlines to reflect on the purpose and practice of leadership and how their communications shape their success.</p>
<%= link_to blog('thinking-of-leadership').articles[0].data.title, blog('thinking-of-leadership').articles[0], class: "btn btn-default", role: "button" %>								
			</div>
		</div>
	</div>
	</div>
</section>