<!-- Sidebar -->
<div id="sidebar" class="col-lg-3 col-sm-3">
	<div class="margbot20">
	<script>
	  (function() {
	    var cx = '012304036991964792402:zo5gcgetm3s';
	    var gcse = document.createElement('script');
	    gcse.type = 'text/javascript';
	    gcse.async = true;
	    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
	        '//www.google.com/cse/cse.js?cx=' + cx;
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(gcse, s);
	  })();
	</script>
	<gcse:searchbox-only></gcse:searchbox-only>
</div>
							
	<div class="sidepanel widget_text">
			<h2>Thinking Of Leadership</h2>
			<ul class="foot_links">
<% blog('thinking-of-leadership').articles[0...5].each_with_index do |article, i| %>
				<li>
					<span class="glyphicon glyphicon-play-circle"></span>
					<%= link_to article.title, article %>
				</li>
<% end %>				
			</ul>		
	</div><!-- .sidepanel -->
                            
   
	</div><!-- .sidepanel -->
</div><!-- //Sidebar -->