<!-- Sidebar -->
<div id="sidebar" class="col-lg-3 col-sm-3">
  <%= partial "search_sidepanel" %>
							
	<% if til %>
	<%= partial "til_sidepanel" %>
	<% else %>
	<%= partial "li_sidepanel" %>
	<% end %>

</div><!-- //Sidebar -->