<!-- Sidebar -->
<div id="sidebar" class="col-lg-3 col-sm-3">
	<div class="sidepanel widget_search">
		<form class="search_form" action="http://localhost/wp_themes/wp3.5" method="get" name="search_form">
			<input class="input_wt" type="text" name="Search the site..." value="Search the site..." onFocus="if (this.value == 'Search the site...') this.value = '';" onBlur="if (this.value == '') this.value = 'Search the site...';" />
			<input class="btn btn-default" type="submit" value="Search!">
		</form>
	</div>
							
	<div class="sidepanel widget_text">
		<h4 class="sidebar_header">Text Widget</h4>

							<div class="crewman_foto"><img src="images/avf-headshot.png" alt=""></div>
							<h3>Alanson Van Fleet</h3>
							<p>Founder</p>
			<p>As an executive coach and leadership communications consultant, Alanson works with executives at all levels to enhance their leadership awareness, presence and performance. He brings to this work decades of experience as a corporate executive, entrepreneur and educator. He is a graduate of Georgetown University’s highly-acclaimed Leadership Coach Training Program and credentialed (ACC) by the International Coach Federation.</p>



	</div><!-- .sidepanel -->
                            
                            
	<div class="sidepanel widget_tag_cloud">
		<h4 class="sidebar_header">Tags</h4>
		<div class="tags">
			<a href="javascript:void(0);">960gs</a>
			<a href="javascript:void(0);">Responsive</a>
			<a href="javascript:void(0);">Blog</a>
			<a href="javascript:void(0);">960gs</a>
			<a href="javascript:void(0);">HTML5</a>
			<a href="javascript:void(0);">Modern Design</a>
			<a href="javascript:void(0);">HTML5</a>
			<a href="javascript:void(0);">Picasa</a>
			<a href="javascript:void(0);">Pinterest</a>
			<a href="javascript:void(0);">Picasa</a>
		</div>
	</div><!-- .sidepanel -->
</div><!-- //Sidebar -->