<!-- Sidebar -->
<div id="sidebar" class="col-lg-3 col-sm-3">
	<div class="sidepanel widget_search">
		<form class="search_form" action="http://localhost/wp_themes/wp3.5" method="get" name="search_form">
			<input class="input_wt" type="text" name="Search the site..." value="Search the site..." onFocus="if (this.value == 'Search the site...') this.value = '';" onBlur="if (this.value == '') this.value = 'Search the site...';" />
			<input class="btn btn-default" type="submit" value="Search!">
		</form>
	</div>
							
	<div class="sidepanel widget_text">
		

				<p>Side Bar Blank</p>



	</div><!-- .sidepanel -->
                            
   
	</div><!-- .sidepanel -->
</div><!-- //Sidebar -->