<section id="thinking_of_leadership_form">
  <div id="mc_embed_signup">
    <form action="//vanfleetgroup.us9.list-manage.com/subscribe/post?u=277c238f0fe9f044076881b5b&amp;id=296fd62b0a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter_form form" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">	
        <div class="center">
          <div class="panel panel-default">
		        <div class="panel-body">
			        <div class="row">
				        <div class="col-md-4 form-group">
				          <label for="name">First Name:</label>
					        <input type="text" value="" name="FNAME" class="required input_wt" id="mce-FNAME">
				        </div>
				        <div class="col-md-4 form-group">
				          <label for="FNAME">Last Name:</label>
					        <input type="text" value="" name="LNAME" class="required input_wt" id="mce-LNAME">
				        </div>
				        <div class="col-md-4 form-group">
				          <label for="EMAIL">Email:</label>									
					        <input type="email" value="" name="EMAIL" class="required email input_wt" id="mce-EMAIL">						
				        </div>
			        </div>
			        <div class="row">
				        <div class="col-md-12">
									<div class="clear"><input type="submit" value="Subscribe to <%= current_page.blog_options.name.titleize %>" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-default"></div>
				        </div>
			        </div>
		        </div>
          </div>
        </div>
			</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_277c238f0fe9f044076881b5b_296fd62b0a" tabindex="-1" value=""></div>
    </div>
<div id="interestTable">
    
<!-- thinking in leadership group -->        
<input type="hidden" name="group[16361][1]" value="1">
        
    
<!-- leadership insights -->        
<!-- <input type="hidden" name="group[16365][2]" value="1"> -->

        </div>
        
    
	</div>				
		</form>
	</div>
</section>
<!--End mc_embed_signup-->
