---
title: About The Van Fleet Group
layout: blank_layout
---

<p>The Van Fleet Group LLC is a leadership consultancy providing leadership coaching and communications consulting for clients seeking to better understand themselves as leaders, strengthen their leadership practices and achieve greater results. We work with leaders one-on-one to generate new patterns of leadership thought and action that benefit our clients, their teams and their organizations. Our approach to leadership coaching is guided by the principles and practices adopted by the International Coach Federation.</p>

<p>The cornerstone of our approach is working one-on-one with clients to increase their leadership awareness, presence, resiliency and effectiveness. While there are many paths to leadership development, coaching is unique in its real-world, personalized focus on guided learning and performance improvement.</p>

<p>Throughout the coaching process, leaders are asked to explore new leadership perspectives, attend to feedback in new ways, and adopt fresh approaches to their leadership thoughts, communications and actions. Leaders often benefit the most from coaching when they are in new roles or facing major transitions, when they are struggling to achieve goals they set for themselves or live up to the expectations of others, and when they feel overwhelmed, out of balance and ready to burn out.</p>

<p>While leadership coaching is always customized to the specific needs of individual leaders and offered in service to client-designed outcomes, our coaching work focuses in the following areas:</p>

<p><strong>Leadership Perspectives and Practices:</strong> Designed for leaders new to their roles who want to gain a deeper awareness of their leadership perspectives and practices, gain feedback on their leadership performance and explore areas of growth and development. These engagements frequently involve formal or informal feedback.</p>

<p><strong>Leadership Transitions:</strong> Suited for mid to senior-level leaders taking on new roles and expanded responsibilities, as well as  leaders moving into new organizations, both are circumstances requiring heightened awareness of organizational complexities, elevated expectations and new leadership approaches. Particular attention is paid to stages of leadership development.</p>

<p><strong>Leadership Strategies:</strong> Developed for clients who seek to improve their overall performance, who may be feeling overwhelmed, out of focus and struggling with relationships critical to their success. Particular attention is paid to mastering the three primary components of leadership: leading yourself, leading your team and leading your organization.</p>

<p><strong>Leadership Communications:</strong> Created specifically for leaders seeking to deepen their understanding of leadership communications and increase their leadership presence and influence through more effective communications practices. Our approach is based on our copyrighted Leadership Communication Inventory (LCI) that assesses leadership communications effectiveness and is used to create customized action plans that drive and track improvements in leadership communications.</p>

<p><strong>Alanson Van Fleet</strong>, an experienced leadership coach, corporate executive and educator, serves as the group’s founder and president. He’s a graduate of the highly-acclaimed Georgetown University leadership coach training program and is credentialed as an executive coach (ACC) by the International Coach Federation. He has more than twenty years of senior management and executive experience at Fortune 500 companies. Prior to his corporate experience, Alanson served as a classroom teacher, researcher and tenured college professor. He is a life-long student of human behavior and organizational change. He earned his PhD from the University of Florida with a special emphasis on the cultural and organizational influences on teaching and learning.</p>

<p><strong>Our Group Offerings:</strong> As an additional service for our coaching clients, we also provide leadership support in the areas of executive communications, speechwriting, presentation coaching, and change management communications through a strategic partnership with Imperatives LLC, a marketing and corporate communications firm. We also offer leadership and team assessments through The Center for Research and Service, College of Psychology, Illinois Institute of Technology.</p>



