---
layout: blank_layout
---
				
					<div class="row" data-animated="fadeIn">
						<div class="col-lg-6 col-sm-6 padbot20">
							<div class="flexslider vision_slider">
								<ul class="slides">
									<li class="slide1">
										<img src="images/projects/1.jpg" />
									</li>
									<li class="slide2">
										<img src="images/projects/2.jpg" />
									</li>
									<li class="slide3">
										<img src="images/projects/3.jpg" />
									</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6 col-sm-6">
							<h2>The Group</h2>
							<p>As needed, we also provide leadership support in the areas of executive communications,meeting facilitation, and on-line surveys and community building. These support services are distinct and separate from our leadership coaching practice and are provided upon request by experienced associates of the Van Fleet Group. LLC.</p>
						</div>
					</div>