---
title: About The Van Fleet Group
layout: blank_layout
---

<p><strong>The Van Fleet Group, LLC</strong> is a leadership and communications consultancy that supports leaders at all levels who seek to achieve greater results through enhanced leadership practices and enriched communications. Our unique set of offerings and capabilities are built upon decades of leadership and communication management experience in both corporate and nonprofit sector.</p>

<p>We envision a world in which well-considered communication connects people with ideas meaningful to their lives and where self-aware leaders empower others to achieve beyond their initial beliefs. We work every day to bring that vision to life.</p>

<p>Our work for clients is based on a fundamental belief that effective communications and effective leadership go hand in hand. In fact, they are inseparable.</p>

<div class="quote margbot20">
<blockquote>Words are singularly the most powerful force available to humanity.</blockquote>
<cite>Yehuda Berg</cite>
</div>

<div class="padbot20">
<h2>Effective Communications</h2>

<p>Every speech, every blog post, and every piece of copy animates the work of leaders and their organizations. It builds their brand. It generates their results. As such, we provide a targeted array of communication services for leaders and their organizations that range from developing compelling content addressing a variety of needs to providing crisp, clear copy editing. While our services are customized to meet each client's needs, our offerings include:</p>

<ul class="list2">
  <li>Strategic Content Development</li>
  <li>Social Media Campaigns</li>
  <li>Publication Design and Production</li>
  <li>Content Repurposing</li>
  <li>Copy Editing & Proofing</li>
</ul>
</div>

<div>

<h2>Effective Leadership</h2>

<p>Effective leadership--while it depends on effective communications--stretches far beyond the confines of communications alone. Every leader’s decision, every leader’s choice, and every leader’s act shapes the trajectory of their leadership and determines its ultimate outcomes. Leadership practices that are inappropriate or out-of-date act as a ball and chain around the ankles of leaders--slowing their progress to a halt.  Based on decades of leadership, consulting and coaching experience, we provide leadership coaching and consulting services freeing leaders to work at their very best and achieve results once thought to be unobtainable. While our coaching services are customized to meet each client's needs, our leadership coaching and consulting offerings include:</p>

<ul class="list2">
  <li>Leadership Transition Coaching</li>
  <li>Executive Presence Coaching</li>
  <li>360 Degree Leadership Development Coaching</li>
  <li>Leadership Communications Assessments, Audits and Coaching</li>
  <li>Executive Speechwriting and Presentation Coaching</li>
</ul>

<div class="quote margbot20">
<blockquote>Leadership is a daily lesson, that is not ever fully achieved, however improved upon with practice.</blockquote>
<cite>Donna Y. Cayer</cite>
</div>
</div>