---
layout: content_layout
---
				
<!-- Blog content -->
<section class="our_vision">
	<div class="row">
		<!-- Blog Post -->
		<div class="col-lg-9 col-sm-9 padbot20">
			<div class="blog_post">
				<h2><span class="glyphicon glyphicon-picture"></span>Energize Your Leadership in a Hybrid Way</h2>
				<div class="post_meta">Posted by <a href="javascript:void(0);">Alanson Van Fleet</a><span class="sep">|</span>Nov 12, 2014<span class="sep">|</span><a href="javascript:void(0);">3 comments</a><span class="sep">|</span>Tags: <a href="javascript:void(0);">hybrid,</a> <a href="javascript:void(0);">Prius,</a> <a href="javascript:void(0);">leadership</a>
				</div>
								
				<p>My Prius is a wonderful car, powered by a hybrid engine. When I apply the brakes to slow down or stop, the braking mechanism actually charges the car's engine. That’s right. Slowing down and stopping generates energy for the car so it can go even further while using less gas. That allows me to think about traffic jams and stoplights in whole new ways. They’re actually energy boosters.</p>  
				<p>What if we thought about our leadership as powered by a hybrid engine. Sometimes we need to give it the gas--put the pedal to the metal--to get things done. Sometimes, slowing down and even stopping recharges our leadership batteries, provides us with the energy we need and brings leadership perspectives into focus that we just a blur before. </p>
				<p>Slowing down and taking a breath can serve as your hybrid source of leadership energy. Give it a try. If you’d like to learn some practical tips for slowing down, read Michael Carroll. Awake at Work: 35 Practical Buddhist Principles for Discovering Clarity and Balance in the Midst of Work’s Chaos. (Boston: Shambhala Publications. 2004)</p>
                             
				<div class="author">Alanson Van Fleet, Van Fleet Group</div>
		
			</div>
			<section id="thinking_section">
				<div class="center">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Thinking of Leadership</h3>
						</div>
						<!-- form horizontal in bootstrap docs -->
						<form name="newsletter_form" method="get" class="search_form form">
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-6 col-sm-9 padbot20">
										<div class="row">
											<div class="col-lg-3 col-sm-6 form-group">
												<label for="name">Name:</label>
												<input class="input_wt" name="name" type="text" />
											</div>
											<div class="col-lg-3 col-sm-6 form-group">
												<label for="email">Email:</label>
												<input class="input_wt" type="text" name="email"/>				
											</div>
										</div>						

									</div>
									<div class="col-lg-3 col-sm-9">
										<a class="btn btn-default" href="founder.html" role="button">Subscribe</a>
									</div>
					
								</div>
				
								Find thought-provoking quotes about leadership that can bring fresh perspectives to your work as a leader, along with related reflections and opportunities to learn more.
							</div>
						</form>
					
					</div>
				</div>
			</section>			
		</div>
		<%= partial "sidebar" %>

		<!-- //Blog Post -->
	</div>			
					
</section><!-- //Blog content -->