---
layout: content_layout
title: Energize Your Leadership in a Hybrid Way
tags:
- hybrid
- leadership
- Prius
---
				

								
				<p>My Prius is a wonderful car, powered by a hybrid engine. When I apply the brakes to slow down or stop, the braking mechanism actually charges the car's engine. That’s right. Slowing down and stopping generates energy for the car so it can go even further while using less gas. That allows me to think about traffic jams and stoplights in whole new ways. They’re actually energy boosters.</p>  
				<p>What if we thought about our leadership as powered by a hybrid engine. Sometimes we need to give it the gas--put the pedal to the metal--to get things done. Sometimes, slowing down and even stopping recharges our leadership batteries, provides us with the energy we need and brings leadership perspectives into focus that we just a blur before. </p>
				<p>Slowing down and taking a breath can serve as your hybrid source of leadership energy. Give it a try. If you’d like to learn some practical tips for slowing down, read Michael Carroll. Awake at Work: 35 Practical Buddhist Principles for Discovering Clarity and Balance in the Midst of Work’s Chaos. (Boston: Shambhala Publications. 2004)</p>
                             
				<div class="author">Alanson Van Fleet, Van Fleet Group</div>