---
title: Elizabeth Sweeney
layout: blank_layout
---
<p>
Elizabeth knows that sometimes communication projects come along unexpectedly and need to be done yesterday. On a shoestring budget. Without errors. And look beautiful as well.</p>

<p>Other times, a report resulting from a decade of work has to be handled with the utmost care, collaboration, and methodology. Elizabeth has done it all. Clients rely on her for her clear, consistent communication and her superb collaboration.</p>

<p>As a writer, editor, and communications professional with more than 10 years of experience in the nonprofit sector, Elizabeth works with all clients in need of communications assistance, especially when results matter. From complete project management of collateral, like an annual report, to social media campaigns and one-time copy editing.</p>

<p>From 2007 to 2017, Elizabeth spearheaded the communications at Americans for the Arts in Washington, DC, the nation’s leading arts nonprofit. She worked with an internal staff of 60+ along with external graphic designers, printers, and fulfillment centers to manage the planning, budgeting, design, editing, and execution of the organization’s suite of newsletters, research publications, white papers, promotional e-mails, web content, event collateral, and more.</p>

<p>She also served as editor in chief for the organization’s flagship magazine, <a href="http://www.americansforthearts.org/by-program/reports-and-data/research-studies-publications/americans-for-the-arts-publications">Arts Link</a>, leading an editorial committee of nearly 20. Under her leadership, Americans for the Arts garnered 10 awards from Association Media & Publishing for its publications and promotional materials, including a 2015 award for annual reports.</p>

<p>Elizabeth graduated cum laude from St. Mary’s College of Maryland with a bachelor’s degree in English. While there, Elizabeth’s senior thesis project covered the role of magazines in subcultures and as a means to build a community. Elizabeth also served in editorial roles on the college’s literary magazine, <a href="http://www.smcm.edu/english/creative-writing/smcm-publications/">Avatar</a>.</p>