---
title: Alanson Van Fleet, Ph.D
layout: blank_layout
---
<p>
As an executive coach and leadership communications consultant, Alanson works with 

executives to enhance their leadership awareness, presence and performance. He brings to his 

work a rich background as a corporate executive, educator and entrepreneur.</p>

<p>Alanson has more than 20 years of experience in senior leadership positions 

in Fortune 500 companies helping them manage through periods of crisis 

and change, as well as historic mergers and acquisitions, including the 

largest financial services merger in U.S. history. He has served as a 

communications executive, advisor, consultant and coach for top-tier 

companies in the banking and electric utility industries. He founded a 

successful communications consulting firm which he grew at an annual rate 

of 20% year-over-year for eight consecutive years.</p>

<p>Alanson completed his training as an executive coach at Georgetown 

University’s highly-acclaimed Leadership Coach Training Program in 2011. He is credentialed 

by the International Coach Federation (ACC) and is a practicing coach in the profit and nonprofit 

sectors. He most often works with executives seeking to develop fresh leadership perspectives 

and practices, those working through major transitions and managing large-scale change, as 

well as leaders seeking to deepen their understanding and effectiveness in leadership 

communications.</p>

<p>Prior to joining the corporate world, Alanson served as a tenured college professor where his 

work focused on organizational and cultural influences on teaching and learning. He earned his 

Ph.D. from the University of Florida and was selected to serve as a post-doctoral fellow in 

George Washington University’s Institute for Educational Leadership.

His depth of executive-level leadership experience, along with his life-long commitment to 

teaching and learning enriches his work as an executive coach. In addition to his corporate 

clients, his coaching with nonprofit leaders stems from his extensive experience as a board 

member and volunteer leader for civic, economic development and educational organizations.</p>

<p>Alanson serves as President of The Van Fleet Group, LLC in Charlotte, North Carolina and the 

national practice leader for corporate communications with Imperatives, LLC.</p>