<!-- JUMBOTRON -->
<section class="jumbotron">
	<div class="center">
		<img src="images/vfglogo-med.png">
	</div>
	<div class="center animated fadeInUp" data-animated="fadeInUp">
		<div class="jumbotron_text">
			
			<p>Dynamic  leadership coaching and powerful communication consulting is at the heart of our work at The Van Fleet Group, LLC.  Based in Charlotte, North Carolina, and with decades of experience in executive development, communications management and editorial services, we provide leading-edge leadership and communications solutions for Fortune 500 corporations and nonprofit organizations. When you’re thinking of leadership coaching, digital communication campaigns, web content and social media strategies, speechwriting, or basic copywriting and editing, think of us--the Van Fleet Group, LLC.</p>
			<a class="btn btn-default" href="about.html" role="button">Learn More</a>
		</div>
	</div>						
</section><!-- //JUMBOTRON -->

<%= partial "periodic_content" %>
				
<%= partial "practice_areas" %>