<!-- JUMBOTRON -->
<section class="jumbotron">
	<div class="center">
		<img src="images/vfglogo.jpg">
	</div>
	<div class="center animated fadeInUp" data-animated="fadeInUp">
		<div class="jumbotron_text">
			
			<p>The Van Fleet Group LLC provides leadership coaching and support for clients seeking to better understand themselves as leaders, strengthen their leadership practices and achieve greater results. We work with leaders one-on-one to generate new patterns of leadership thought and action that benefit our clients, their teams and their organizations. Our approach to leadership coaching is guided by the principles and practices adopted by the International Coach Federation.</p>
			<a class="btn btn-default" href="about.html" role="button">Learn More</a>
		</div>
	</div>						
</section><!-- //JUMBOTRON -->
<br><br>


<!-- OUR FOUNDER -->
<section class="founder_block padbot50">
	<div class="row">
		<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
			<div class="crewman_foto"><img src="images/avf-headshot.jpg" alt="" />
										
			</div>
		</div>

		<div class="col-lg-9 col-md-6 col-sm-12 col-xs-12">
			<h2>Our Founder</h2>								
			<h3>Alanson Van Fleet, PHd.</h3>
			<p>As an executive coach and leadership communications consultant, Alanson works with executives at all levels to enhance their leadership awareness, presence and performance. He brings to this work decades of experience as a corporate executive, entrepreneur and educator. He is a graduate of Georgetown University’s highly-acclaimed Leadership Coach Training Program and credentialed (ACC) by the International Coach Federation.</p>
					
			<p><a class="btn btn-default" href="founder.html" role="button">Learn More About Our Founder</a></p>
		</div>



	</div>
</section><!-- //OUR FOUNDER -->

<section id="thinking_section">
	<div class="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Thinking of Leadership</h3>
			</div>
			<div class="panel-body">
				Find thought-provoking quotes about leadership that can bring fresh perspectives to your work as a leader, along with related reflections and opportunities to learn more.
			</div>
		</div>
		<a class="btn btn-default" href="founder.html" role="button">Find the Latest Quote Here</a>
	</div>
</section>
				
<!-- OUR COACHING AREAS -->
<section class="why_us padbot50" data-animated="fadeInUp">
	<h2 class="center">Our Practice Areas</h2>
					
	<!-- TAB -->
	<div class="tab_block">
		<ul id="myTab" class="nav nav-tabs center">
			<li class="active"><a href="#tab1" data-toggle="tab">Leadership Perspectives & Practices</a></li>
			<li class=""><a href="#tab2" data-toggle="tab">Leadership Transitions</a></li>
			<li class=""><a href="#tab3" data-toggle="tab">Leadership Strategies</a></li>
			<li class=""><a href="#tab4" data-toggle="tab">Leadership Communications</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade in active clearfix" id="tab1">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-4">
						<img src="images/vfgsmaller.png" alt="" />
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="tab_text">
							<p>Designed for leaders new to their roles who want to gain a deeper awareness of their leadership perspectives and practices, gain feedback on their leadership performance and explore areas of growth and development.</p>
						</div>
					</div>
				</div>
			</div>
										
										
			<div class="tab-pane fade clearfix" id="tab2">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-4">
						<img src="images/vfgsmaller.png" alt="" />
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="tab_text">
							<p>Suited for mid to senior-level leaders taking on new roles and expandedresponsibilities, as well as leaders moving into new organizations, both are circumstances requiring heightened awareness of organizational complexities, elevated expectations and new leadership approaches. Particular attention is paid to stages of leadership development.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade clearfix" id="tab3">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-4">
						<img src="images/vfgsmaller.png" alt="" />
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="tab_text">
							<p>Developed for leaders who seek to improve their overall performance, who may be feeling overwhelmed, out of focus and struggling with relationships critical to their success. Particular attention is paid to mastering the three primary components of leadership: leading yourself, leading your team and leading your organization.</p>
						</div>
					</div>
				</div>
			</div>
										
			<div class="tab-pane fade clearfix" id="tab4">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-4">
						<img src="images/vfgsmaller.png" alt="" />
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="tab_text">
							<p>Created specifically for leaders seeking to deepen their understanding of leadership communications and increase their leadership presence and influence through more effective communications practices. Our approach is based on our copyrighted Leadership Communication Inventory (LCI) that assesses leadership communications effectiveness and is used to create customized action plans that drive and track improvements in leadership communications.</p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- /TAB -->	
	</div>
</div>											
</section><!-- //OUR COACHING AREAS -->