<!-- JUMBOTRON -->
<section class="jumbotron">
	<div class="center">
		<img src="images/vfglogo.png">
	</div>
	<div class="center animated fadeInUp" data-animated="fadeInUp">
		<div class="jumbotron_text">
			
			<p>The Van Fleet Group LLC is a leadership consultancy providing leadership coaching and support for clients seeking to better understand themselves as leaders, strengthen their leadership practices and achieve greater results. We work with leaders one-on-one to generate new patterns of leadership thought and action that benefit our clients, their teams and their organizations. Our approach to leadership coaching is guided by the principles and practices adopted by the International Coach Federation.</p>
			<a class="btn btn-default" href="about.html" role="button">Learn More</a>
		</div>
	</div>						
</section><!-- //JUMBOTRON -->

<section id="thinking_section">
	<div class="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Thinking of Leadership</h3>
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								Leaders live busy lives. These quotes and reflections are meant to provide a quick break from their daily deadlines to reflect on the purpose and practice of leadership.
								I'd love to hear what you think about these quotes.</p>
						</div>
						<div class="col-md-6">
							<div class="quote margbot20">
<blockquote>
Nothing can stop the man with the right mental attitude from achieving his goal; nothing on earth can help the man with the wrong mental attitude.
</blockquote>
<cite>Thomas Jefferson</cite>
</div>
<p>
		<%= link_to "More About This Quote", blog('thinking-of-leadership').articles[0], class: "btn btn-default", role: "button" %></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="insight_section">
	<div class="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Leadership Insights</h3>
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<p>
								These insights are designed to explore in greater depth the three dimensions of leadership:

									leading yourself,
									leading your team,
									leading your organization.
									They are offered to encourage a dialog, and I look forward to hearing what you have to say.
							</p>
						</div>
						<div class="col-md-6">
							<p><%= blog('leadership-insights').articles[0].data.title %></p>
<p>
		<%= link_to "More About This Insight", blog('leadership-insights').articles[0], class: "btn btn-default", role: "button" %></p>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
				

<!-- OUR FOUNDER -->
<section class="practice_areas_block padbot50">
	<div class="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Our Practice Areas</h3>
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row">

		<div class="col-lg-12 col-md-12">
					
	<dl>
		<dt>Leadership Perspectives</dt>
    <dd><p>Designed for leaders new to their roles who want to gain a deeper awareness of their leadership perspectives and practices, gain feedback on their leadership performance and explore areas of growth and development.</p></dd>
		<dt>Leadership Strategies</dt>
		<dd><p>Suited for mid to senior-level leaders taking on new roles and expandedresponsibilities, as well as leaders moving into new organizations, both are circumstances requiring heightened awareness of organizational complexities, elevated expectations and new leadership approaches. Particular attention is paid to stages of leadership development.</p></dd>
		<dt>Leadership Transitions</dt>
		<dd><p>Developed for leaders who seek to improve their overall performance, who may be feeling overwhelmed, out of focus and struggling with relationships critical to their success. Particular attention is paid to mastering the three primary components of leadership: leading yourself, leading your team and leading your organization.</p></dd>
		<dt>Leadership Communications</dt>
		<dd><p>Created specifically for leaders seeking to deepen their understanding of leadership communications and increase their leadership presence and influence through more effective communications practices. Our approach is based on our copyrighted Leadership Communication Inventory (LCI) that assesses leadership communications effectiveness and is used to create customized action plans that drive and track improvements in leadership communications.</p></dd>
	</dl>

		</div>						
					</div>
				</div>
			</div>
		</div>
</div>
	
</section><!-- //OUR FOUNDER -->

<!-- OUR FOUNDER -->
<section class="founder_block padbot50">
	<div class="center">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Our Founder</h3>
			</div>
			<div class="panel-body">
				<div class="container">
					<div class="row">
		<div class="col-lg-3 col-md-6">
			<div class="crewman_foto">
				<img src="images/avf-headshot.png" alt="Alanson's picture" height="240px" width="161px" />						
			</div>
		</div>

		<div class="col-lg-9 col-md-6">							
			<h4>Alanson Van Fleet, PhD.</h4>
			<p>As an executive coach and leadership communications consultant, Alanson works with executives at all levels to enhance their leadership awareness, presence and performance. He brings to this work decades of experience as a corporate executive, entrepreneur and educator. He is a graduate of Georgetown University’s highly-acclaimed Leadership Coach Training Program and credentialed (ACC) by the International Coach Federation.</p>
					
			<p><a class="btn btn-default" href="founder.html" role="button">Learn More About Our Founder</a></p>
		</div>						
					</div>
				</div>
			</div>
		</div>
</div>
	
</section><!-- //OUR FOUNDER -->