<!-- JUMBOTRON -->
<section class="jumbotron">
	<div class="center">
		<img src="images/vfglogo.png">
	</div>
	<div class="center animated fadeInUp" data-animated="fadeInUp">
		<div class="jumbotron_text">
			
			<p>The Van Fleet Group LLC is a leadership consultancy providing leadership coaching and support for clients seeking to better understand themselves as leaders, strengthen their leadership practices and achieve greater results. We work with leaders one-on-one to generate new patterns of leadership thought and action that benefit our clients, their teams and their organizations. Our approach to leadership coaching is guided by the principles and practices adopted by the International Coach Federation.</p>
			<a class="btn btn-default" href="about.html" role="button">Learn More</a>
		</div>
	</div>						
</section><!-- //JUMBOTRON -->

<%= partial "periodic_content" %>
				
<%= partial "practice_areas" %>