

	<!-- PRELOADER -->
	<img id="preloader" src="images/preloader.gif" alt="" />
	<!-- //PRELOADER -->
	
	<!-- PAGE -->
	<div id="page">
		
		
			
		<!-- WRAPPER -->
		<div class="wrapper">
				
			<!-- HEADER -->
			<header>
					
					
				<!-- CONTAINER -->
				<div class="container page_block">

					<!-- TOP LINE -->
					<div class="full_width top_line center clearfix">
						"Nothing can stop the man with the right mental attitude from achieving his goal; nothing on earth can help the man with the wrong mental attitude." Thomas Jefferson

					</div><!-- //TOP LINE -->

						
					<!-- JUMBOTRON -->
					<section class="jumbotron">
						<div class="center">
							<img src="images/vfglogo.jpg">
						</div>
<div class="center animated fadeInUp" data-animated="fadeInUp">
						<div class="jumbotron_text">
							<h1>Say Something <span class="color_text">Wonderful</span> Here</h1>
							<p>The Van Fleet Group LLC provides leadership coaching and support for clients seeking to better understand themselves as leaders, strengthen their leadership practices and achieve greater results. We work with leaders one-on-one to generate new patterns of leadership thought and action that benefit our clients, their teams and their organizations. Our approach to leadership coaching is guided by the principles and practices adopted by the International Coach Federation.</p>
							<a class="btn btn-default" href="about.html" role="button">Learn More</a>
						</div>
					</div>						
					</section><!-- //JUMBOTRON -->
					<br><br>


					<!-- OUR FOUNDER -->
					<section class="padbot50">
						<h2 class="center">Our Founder</h2>
						<div class="row">
							<div class="col-lg-8 col-md-4">
								<h3>Alanson Van Fleet, PHd.</h3>
								As an executive coach and leadership communications consultant, Alanson works with executives at all levels to enhance their leadership awareness, presence and performance. He brings to this work decades of experience as a corporate executive, entrepreneur and educator. He is a graduate of Georgetown University’s highly-acclaimed Leadership Coach Training Program and credentialed (ACC) by the International Coach Federation.
					
								<p><a class="btn btn-default" href="founder.html" role="button">Learn More About Our Founder</a></p>
							</div>


							<div class="row">
								<div class="col-lg-2 col-md-2 col-sm-2">
									<div class="crewman_foto"><img src="images/headshot.JPG" alt="" />
										
									</div>
								</div>
							
							</section><!-- //OUR FOUNDER -->

							<section>
								<div class="center">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h3 class="panel-title">Thinking of Leadership</h3>
										</div>
										<div class="panel-body">
											Find thought-provoking quotes about leadership that can bring fresh perspectives to your work as a leader, along with related reflections and opportunities to learn more.
										</div>
									</div>
									<a class="btn btn-default" href="founder.html" role="button">Find the Latest Quote Here</a>
								</div>
							</section>
				
							<!-- OUR COACHING AREAS -->
							<section class="why_us padbot50" data-animated="fadeInUp">
								<h2 class="center">Our Practice Areas</h2>
					
								<!-- TAB -->
								<div class="tab_block">
									<ul id="myTab" class="nav nav-tabs center">
										<li class="active"><a href="#tab1" data-toggle="tab">Perspectives & Practices</a></li>
										<li class=""><a href="#tab2" data-toggle="tab">Transitions</a></li>
										<li class=""><a href="#tab3" data-toggle="tab">Strategies</a></li>
										<li class=""><a href="#tab4" data-toggle="tab">Communications</a></li>
									</ul>
									<div id="myTabContent" class="tab-content">
										<div class="tab-pane fade in active clearfix" id="tab1">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-4">
													<img src="images/tab_img1.png" alt="" />
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="tab_text">
														<p>Designed for leaders new to their roles who want to gain a deeper awareness of their leadership perspectives and practices, gain feedback on their leadership performance and explore areas of growth and development.</p>
													</div>
												</div>
											</div>
										</div>
										
										
										<div class="tab-pane fade clearfix" id="tab2">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-4">
													<img src="images/tab_img1.png" alt="" />
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="tab_text">
														<p>Suited for mid to senior-level leaders taking on new roles and expandedresponsibilities, as well as leaders moving into new organizations, both are circumstances requiring heightened awareness of organizational complexities, elevated expectations and new leadership approaches. Particular attention is paid to stages of leadership development.</p>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane fade clearfix" id="tab3">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-4">
													<img src="images/tab_img1.png" alt="" />
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="tab_text">
														<p>Developed for leaders who seek to improve their overall performance, who may be feeling overwhelmed, out of focus and struggling with relationships critical to their success. Particular attention is paid to mastering the three primary components of leadership: leading yourself, leading your team and leading your organization.</p>
													</div>
												</div>
											</div>
										</div>
										
										<div class="tab-pane fade clearfix" id="tab4">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-4">
													<img src="images/tab_img1.png" alt="" />
												</div>
												<div class="col-lg-6 col-md-6">
													<div class="tab_text">
														<p>This is tab 4.</p>
													</div>
												</div>
											</div>
										</div>
									</div><!-- /TAB -->												
								</section><!-- //OUR COACHING AREAS -->
				
				
				

								<!-- FOOTER -->
								<footer class="full_width footer_block">
						
									<!-- SITEMAP -->
									<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
										<h2>Links</h2>
										<ul class="foot_links">
											<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Aliquam tempus est sit amet orci</a></li>
											<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Quisque hendrerit velit erat</a></li>
											<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">In bibendum eros ultricies sit amet.</a></li>
											<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Sed tempor hendrerit purus vitae</a></li>
											<li><span class="glyphicon glyphicon-play-circle"></span><a href="javascript:void(0);">Nunc egestas justo nec enim mollis</a></li>
										</ul>
									</div>

									<!--/SITEMAP-->
						
						
									<!-- NEWSLETTER-FORM -->
									<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
										<h2>Contact Form</h2>
							
										<form role="form">
											<div class="form-group">
												<label for="exampleInputName">Name</label>
												<input type="name" class="form-control" id="exampleInputName" placeholder="Enter name">
											</div>
											<div class="form-group">
												<label for="exampleInputPhone">Phone Number</label>
												<input type="number" class="form-control" id="exampleInputPhone" placeholder="Enter number">
												<div class="form-group">
													<label for="exampleInputEmail">Email Address</label>
													<input type="email" class="form-control" id="exampleInputEmail" placeholder="Enter email">
												</div>
												<a class="btn btn-default" href="subscribe.html" role="button">Subscribe</a>
											</div>
										</form><!-- //NEWSLETTER-FORM -->
							
										<!-- FOOTER SOCIAL -->
										<ul class="social">
											<li class="twitter"><a href="www.twitter.com/alansonwf" alt=""></a></li>
											<li class="linkedin"><a href="www.linkedin.com/pub/alanson-van-fleet/1/673/5aa" alt=""></a></li>
										</ul><!-- //FOOTER SOCIALS -->
									</div>
						
									<div class="respon_clear"></div>
						
									<!-- RECENT TWEETS -->
									<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
										<h2>Recent Tweets</h2>
										<ul class="twitter_list tweet_module"></ul>
										<a class="twitter-timeline" href="https://twitter.com/alansonwf" data-widget-id="530734022293336064">Tweets by @alansonwf</a>
										<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

									</div><!-- //RECENT TWEETS -->
									<!-- CONTACT US -->

									<div class="col-lg-3 col-md-3 col-sm-6 padbot20">
										<h2>Contact Us</h2>
										<ul class="contact_info">
											<li>Van Fleet Group</li>
											<li>123 Evergreen Terrace</li>
											<li>Charlotte, NC 28205</li>
											<br>
											<li><span class="glyphicon glyphicon-envelope"></span><a href="mailto:alanson@vanfleetgroup.com" alt=""> alanson@vanfleetgroup.com</a></li><br>
											<li><span class="glyphicon glyphicon-phone"> 704.867.5309</li>
											</ul>
										</div>
							

										<!--//CONTACT US -->



									</footer><!-- //FOOTER -->
						
						
					
									<!-- COPYRIGHT -->
									<div class="copyright">
										<span> &copy; Copyright 2014 Van Fleet Group, LLC.</span>
									</div><!-- //COPYRIGHT -->
								</div><!-- WRAPPER -->
							</div><!-- //CONTAINER -->
						</div><!-- //PAGE -->
